@using Framework.Models;
@using Elmah.Models.Definitions;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahTypeModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="hidden-modal-title" value="@Model!.Model!.Type" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Model!.Type" id="@Model.HtmlId(nameof(ElmahTypeModel.Type))" name="@Model.HtmlName(nameof(ElmahTypeModel.Type))"/>
    <div class="form-group">
        <label asp-for="Model!.Type" class="control-label" for="@Model!.HtmlId(nameof(ElmahTypeModel.Type))"></label>
        <input asp-for="Model!.Type" class="form-control" data-nt-value="@Model!.Model!.Type" id="@Model.HtmlId(nameof(ElmahTypeModel.Type))"  name="@Model.HtmlName(nameof(ElmahTypeModel.Type))"/>
        <span asp-validation-for="Model!.Type" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahTypeModel.Type))"></span>
    </div>
}
