@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model ItemViewModel<ElmahTypeModel>
@inject IUIStrings localizor;
<td class="pt-0 pb-0 nt-list-bulk-select">
    <input class="form-check-input ms-1" type="checkbox" value="">
</td>
<td class="p-0">
    <div class="btn-group">
        <a asp-area="" asp-controller="ElmahType" asp-action="Dashboard" asp-route-type="@Model.Model!.Type" class="btn btn-info" role="button" title="@localizor.Get("Dashboard")">
            <i class="fa-solid fa-folder-tree"></i>
        </a>
        <a asp-area="" asp-controller="ElmahType" asp-action="Details" asp-route-type="@Model.Model!.Type" class="btn btn-light" role="button" title="@localizor.Get("Details")">
            <i class="fa fa-briefcase"></i>
        </a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crudActionDialog" title="@localizor.Get("Details")"
            data-nt-action="@HttpMethods.Get"
            data-nt-container="@CrudViewContainers.Dialog.ToString()"
            data-nt-template="@ViewItemTemplateNames.Details.ToString()">
            <i class="fa fa-briefcase"></i>
        </button>
        <a asp-area="" asp-controller="ElmahType" asp-action="Edit" asp-route-type="@Model.Model!.Type" class="btn btn-secondary" role="button" title="@localizor.Get("Edit")">
            <i class="fa fa-edit"></i>
        </a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crudActionDialog" title="@localizor.Get("Edit")"
            data-nt-action="@HttpMethods.Put"
            data-nt-container="@CrudViewContainers.Dialog.ToString()"
            data-nt-template="@ViewItemTemplateNames.Edit.ToString()">
            <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-primary btn-nt-inline-editing" title="@localizor.Get("Edit")"
            data-nt-action="@HttpMethods.Put"
            data-nt-container="@CrudViewContainers.Inline.ToString()"
            data-nt-template="@ViewItemTemplateNames.Edit.ToString()">
            <i class="fa fa-edit"></i>
        </button>
        <a asp-area="" asp-controller="ElmahType" asp-action="Delete" asp-route-type="@Model.Model!.Type" class="btn btn-danger" role="button" title="@localizor.Get("Delete")">
            <i class="fa fa-trash"></i>
        </a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crudActionDialog" title="@localizor.Get("Delete")"
            data-nt-action="@HttpMethods.Delete"
            data-nt-container="@CrudViewContainers.Dialog.ToString()"
            data-nt-template="@ViewItemTemplateNames.Delete.ToString()">
            <i class="fa fa-trash"></i>
        </button>
        <button type="button" class="btn btn-primary btn-nt-inline-editing" title="@localizor.Get("Delete")"
            data-nt-action="@HttpMethods.Delete"
            data-nt-container="@CrudViewContainers.Inline.ToString()"
            data-nt-template="@ViewItemTemplateNames.Delete.ToString()">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</td>
<td class="pt-0 pb-0">@Model.Model!.Type</td>
