@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@model PagedResponse<ElmahTypeModel[]>
@inject IUIStrings localizor;
@if (Model != null && Model.Status == System.Net.HttpStatusCode.OK && Model.ResponseBody != null)
{
    @for (var i = 0; i < Model.ResponseBody.Length; i++)
    {
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3  p-1">
            <div class="card">
                @*<img class="card-img-top" src="..." alt="Card image cap">*@
                <div class="card-header">
                    <h5 class="card-title">Please Customize title</h5>
                    <p class="card-text">Please Customize sub-title</p>
                </div>
                <div class="card-body">
                <div class="form-group">
                    <label asp-for="ResponseBody![i].Type" class="control-label"></label>
                    <input asp-for="ResponseBody![i].Type" class="form-control" readonly />
                </div>
                </div>
                <div class="card-footer text-muted">
                <div class="btn-group">
                    <a asp-area="" asp-controller="ElmahType" asp-action="Dashboard" asp-route-type="@Model.ResponseBody![i].Type" class="btn btn-info" role="button" title="@localizor.Get("Dashboard")">
                        <i class="fa-solid fa-folder-tree"></i>
                    </a>
                    <a asp-area="" asp-controller="ElmahType" asp-action="Details" asp-route-type="@Model.ResponseBody![i].Type" class="btn btn-light" role="button" title="@localizor.Get("Details")">
                        <i class="fa fa-briefcase"></i>
                    </a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crudActionDialog" title="@localizor.Get("Details")"
                        data-nt-action="@HttpMethods.Get"
                        data-nt-container="@CrudViewContainers.Dialog.ToString()"
                        data-nt-template="@ViewItemTemplateNames.Details.ToString()">
                        <i class="fa fa-briefcase"></i>
                    </button>
                    <a asp-area="" asp-controller="ElmahType" asp-action="Edit" asp-route-type="@Model.ResponseBody![i].Type" class="btn btn-secondary" role="button" title="@localizor.Get("Edit")">
                        <i class="fa fa-edit"></i>
                    </a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crudActionDialog" title="@localizor.Get("Edit")"
                        data-nt-action="@HttpMethods.Put"
                        data-nt-container="@CrudViewContainers.Dialog.ToString()"
                        data-nt-template="@ViewItemTemplateNames.Edit.ToString()">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-nt-inline-editing" title="@localizor.Get("Edit")"
                        data-nt-action="@HttpMethods.Put"
                        data-nt-container="@CrudViewContainers.Inline.ToString()"
                        data-nt-template="@ViewItemTemplateNames.Edit.ToString()">
                        <i class="fa fa-edit"></i>
                    </button>
                    <a asp-area="" asp-controller="ElmahType" asp-action="Delete" asp-route-type="@Model.ResponseBody![i].Type" class="btn btn-danger" role="button" title="@localizor.Get("Delete")">
                        <i class="fa fa-trash"></i>
                    </a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crudActionDialog" title="@localizor.Get("Delete")"
                        data-nt-action="@HttpMethods.Delete"
                        data-nt-container="@CrudViewContainers.Dialog.ToString()"
                        data-nt-template="@ViewItemTemplateNames.Delete.ToString()">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-nt-inline-editing" title="@localizor.Get("Delete")"
                        data-nt-action="@HttpMethods.Delete"
                        data-nt-container="@CrudViewContainers.Inline.ToString()"
                        data-nt-template="@ViewItemTemplateNames.Delete.ToString()">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
                </div>
            </div>
        </div>
    }
}
else if (Model != null)
{
    <div class="text-danger">@Model.StatusMessage</div>
}
@if (Model != null && Model.Pagination != null)
{
    @await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml", Model.Pagination)
}
