@using Elmah.Models;
@using Elmah.Resx;
@model ElmahTypeModel
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Details");
}
<h1>@localizor.Get("Details")</h1>
<div>
    <h4>@localizor.Get("ElmahHost")</h4>
    <hr />
        <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Host)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Host)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpatialLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpatialLocation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Host">@localizor.Get("Edit")</a> |
    <a asp-action="Index">@localizor.Get("Back_to_List")</a>
</div>
