@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@model PagedSearchViewModel<ElmahTypeAdvancedQuery, ElmahTypeModel[]>
@inject IHttpContextAccessor Accessor
@inject IUIStrings localizor;
@{
    ViewData["Title"] = @localizor.Get("Search") + " " + localizor.Get("ElmahType");
    var format_All = localizor.Get("Format_All");
    string currentView = string.Empty;
    if (Accessor.HttpContext != null)
    {
        currentView = Accessor.HttpContext.Request.Query["PagedViewOption"];
    }
    if (string.IsNullOrEmpty(currentView))
    {
        currentView = Model.Result.PagedViewOption.ToString();
    }
}
<form id="thisform" method="post" class="nt-ajax-partial-load-post-formdata" data-nt-partial-url="@Url.Action("AjaxMultiItems", "ElmahType")" data-nt-updatetarget=".nt-list-container-submit">
    <input type="hidden" asp-for="Query.PageIndex" id="pageIndexH" class="nt-page-index" />
    <input type="hidden" asp-for="Query.PageSize" id="pageSizeH" />
    <input type="hidden" asp-for="Query.OrderBys" id="orderByH" />
    <input type="hidden" asp-for="Query.AdvancedQuery" id="advancedQueryH" />
    <input type="hidden" asp-for="Query.PagedViewOption" id="pagedViewOptionH" class="nt-paged-view-options" value="@currentView" />
    <input type="hidden" asp-for="Query.PaginationOption" id="paginationOptionH" />
    <div class="d-flex justify-content-between pt-1">
        <div>
            <span class="h5"><a class="nav-link text-dark" asp-area="" asp-controller="ElmahType" asp-action="Index">you are working on <strong>@localizor.Get("ElmahType")</strong></a></span>
        </div>
        <button class="btn btn-primary me-1 ms-1" role="button" type="submit" title="@localizor.Get("Search")">
            <i class="fa fa-search"></i>
            @localizor.Get("Search")
        </button>
    </div>
    <hr class="mt-1" />
        <div class="input-group">
            <select asp-for="Query.TextSearchType" asp-items="ViewBag.TextSearchTypeList" class="input-group-text text-start">
            </select>
            <input asp-for="Query.TextSearch" class="form-control" placeholder="@localizor.Get("SearchTextDescription")" aria-label="@localizor.Get("SearchTextDescription")" />
        </div>
    <div class="row pt-1">
        <div class="col-md-6">
            <div class="input-group">
                <label class="input-group-text">@localizor.Get("Type")</label>
                <select asp-for="Query.TypeSearchType" asp-items="ViewBag.TextSearchTypeList" class="input-group-text text-start">
                </select>
                <input asp-for="Query.Type" class="form-control" placeholder="@string.Format(@localizor.Get("Format_SearchTextDescription"), @localizor.Get("Type"))" aria-label="@string.Format(@localizor.Get("Format_SearchTextDescription"), @localizor.Get("Type"))" />
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between pt-1">
        <div>
            <span class="h5"><a class="nav-link text-dark" asp-area="" asp-controller="ElmahType" asp-action="Index">you are working on <strong>@localizor.Get("ElmahType")</strong></a></span>
        </div>
        <button class="btn btn-primary me-1 ms-1" role="button" type="submit" title="@localizor.Get("Search")">
            <i class="fa fa-search"></i>
            @localizor.Get("Search")
        </button>
    </div>
</form>
<hr class="mt-1" />
<div class="card nt-list-wrapper"
    id="thisList"
    data-nt-bs-modalsize="Large"
    data-nt-pagination-updatetarget="#pageIndexH"
    data-nt-submittarget="#thisform"
    data-nt-loaditem-url="@Url.Action("AjaxLoadItem", "ElmahType")"
    data-nt-createitem-url="@Url.Action("AjaxCreate", "ElmahType")"
    data-nt-updateitem-url="@Url.Action("AjaxEdit", "ElmahType")"
    data-nt-deleteitem-url="@Url.Action("AjaxDelete", "ElmahType")"
    data-nt-bulk-delete-url="@Url.Action("AjaxBulkDelete", "ElmahType")">
    <div class="card-header">
        <h3 class="card-title float-start m-0" ><a class="nav-link text-dark" asp-area="" asp-controller="ElmahType" asp-action="Index">@localizor.Get("ElmahType")</a></h3>
        <div class="btn-group float-end mt-1" role="group" aria-label="View Options">
            <input type="radio" class="btn-check nt-radio-pagedviewoption-submit" name="btnradio" id="btnradio-List" autocomplete="off" data-nt-value="List" data-nt-updatetarget="#pagedViewOptionH" data-nt-paginationoptionupdatetarget="#paginationOptionH" data-nt-paginationoptionupdatevalue="Paged" data-nt-submittarget="#thisform" @(Model.Query.PagedViewOption==PagedViewOptions.List ? "checked": "")>
            <label class="btn btn-outline-primary" for="btnradio-List" title="List" aria-label="List"><i class="fa-solid fa-list"></i></label>
            <input type="radio" class="btn-check nt-radio-pagedviewoption-submit" name="btnradio" id="btnradio-Tiles" autocomplete="off" data-nt-value="Tiles" data-nt-updatetarget="#pagedViewOptionH" data-nt-submittarget="#thisform" data-nt-paginationoptionupdatetarget="#paginationOptionH" data-nt-paginationoptionupdatevalue="LoadMore" @(Model.Query.PagedViewOption==PagedViewOptions.Tiles ? "checked": "")>
            <label class="btn btn-outline-primary" for="btnradio-Tiles" title="Tiles" aria-label="Tiles"><i class="fa-solid fa-grip"></i></label>
            <input type="radio" class="btn-check nt-radio-pagedviewoption-submit" name="btnradio" id="btnradio-SlideShow" autocomplete="off" data-nt-value="SlideShow" data-nt-updatetarget="#pagedViewOptionH" data-nt-submittarget="#thisform" data-nt-paginationoptionupdatetarget="#paginationOptionH" data-nt-paginationoptionupdatevalue="NoPagination" @(Model.Query.PagedViewOption==PagedViewOptions.SlideShow ? "checked": "")>
            <label class="btn btn-outline-primary" for="btnradio-SlideShow" title="SlideShow" aria-label="SlideShow"><i class="fa-solid fa-circle-play"></i></label>
        </div>
        <div class="btn-group float-end mt-1 ms-3 me-3">
            <select asp-for="Query.PageSize" asp-items="ViewBag.PageSizeList" role="button" class="form-control form-select nt-selectchange-submit" data-nt-updatetarget="#pageSizeH" data-nt-submittarget="#thisform"></select>
            <select asp-for="Query.OrderBys" asp-items="ViewBag.OrderByList" role="button" class="form-control form-select nt-selectchange-submit" data-nt-updatetarget="#orderByH" data-nt-submittarget="#thisform"></select>
        </div>
        <div class="btn-group m-0 p-0 float-start nt-bulk-select-filter">
            <button type="button" class="btn btn-default m-0 p-0 btn-nt-bulk-select-status" data-nt-bulk-select-status="None">
                <!--None/Some/All-->
                <i class="fa-regular fa-square"></i>
                <i class="fa-regular fa-square-minus d-none"></i>
                <i class="fa-regular fa-square-check d-none"></i>
            </button>
            <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
            </ul>
        </div>
        <div class="btn-group float-start ps-4 nt-bulk-actions-container d-none">
            <button type="button" class="btn btn-default nt-bulk-delete" data-bs-toggle="modal" data-bs-target="#simpleActionConfirmationDialog"
                data-nt-confirmation-message="@string.Format(localizor.Get("Please_confirm_you_want_to_delete_selected"), localizor.Get("ElmahType"))" title="@localizor.Get("Delete")">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
    <div class="card-body nt-list-container-submit row m-0 p-0">
        @if (currentView.ToLower() == PagedViewOptions.Tiles.ToString().ToLower())
        {
            @await Html.PartialAsync("~/Views/ElmahType/_Tiles.cshtml", Model.Result)
        }
        else if (currentView.ToLower() == PagedViewOptions.SlideShow.ToString().ToLower())
        {
            @await Html.PartialAsync("~/Views/ElmahType/_SlideShow.cshtml", Model.Result)
        }
        else
        {
            @await Html.PartialAsync("~/Views/ElmahType/_List.cshtml", Model.Result)
        }
    </div>
    <div class="fixed-bottom">
        <div class="btn-group float-end m-4">
            <a asp-area="" asp-controller="ElmahType" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Create")">
                <i class="fa fa-plus"></i>
            </a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crudActionDialog" title="@localizor.Get("Create_New")"
                data-nt-action="@HttpMethods.Post"
                data-nt-route-id=""
                data-nt-container="@CrudViewContainers.Dialog.ToString()"
                data-nt-template="@ViewItemTemplateNames.Create.ToString()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>
<partial name="~/Views/Shared/_CrudActionDialog.cshtml" />
<partial name="~/Views/Shared/_SimpleActionConfirmationDialog.cshtml" />
