@using Elmah.MvcWebApp.Models;
@using Elmah.Resx;
@inject IUIStrings localizor;
@model AjaxResponseViewModel
@{
    // This is the seperator between partial views, javascript is using the same string to split response into sections.
    const string htmlSeperator = "===---------===";
}
@if(Model.Status == System.Net.HttpStatusCode.OK)
{
    <h2 class="text-success">@localizor.Get("HttpStatusCodeOKMessage")</h2>
}
else if(Model.Status == System.Net.HttpStatusCode.NotFound)
{
    <h2 class="text-danger">@localizor.Get("HttpStatusCodeNotFoundMessage")</h2>
}
else if(Model.Status == System.Net.HttpStatusCode.BadRequest)
{
    <h2 class="text-danger">@localizor.Get("HttpStatusCodeBadRequestMessage")</h2>
}
else //if(Model.Status == System.Net.HttpStatusCode.InternalServerError)
{
    <h2 class="text-danger">@localizor.Get("HttpStatusCode.InternalServerErrorMessage")</h2>
}
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@if(Model.PartialViews != null)
{
    foreach(var partialView in Model.PartialViews)
    {
@htmlSeperator
@await Html.PartialAsync(partialView.Item1, partialView.Item2)
    }
}