@using Elmah.Resx;
@*this partial view can be loaded only on page level, to attach proper event handlers*@
@*only one CrudActionDialog instance is allowed on the same page*@
@inject IUIStrings localizor;
<div class="modal fade" id="crudActionDialog" tabindex="-1" aria-labelledby="crudActionDialogLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crudActionDialogLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body nt-status">
            </div>
            <div class="modal-body nt-modal-body">
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="btn-group">
                    <button type="button" class="btn btn-nt-pagination-previous" title="@localizor.Get("Previous")">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                    <button type="button" class="btn btn-nt-pagination-next" title="@localizor.Get("Next")">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>

                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fa-solid fa-circle-xmark"></i><span class="ms-1 submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Close")</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-nt-action-save" style="display: none;">
                        <i class="fa-solid fa-check-circle"></i><span class="ms-1 submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Save")</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-nt-action-delete" style="display: none;">
                        <i class="fa fa-trash"></i><span class="ms-1 submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Delete")</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@*@section Scripts {
    <script type="text/javascript" src="~/js/CrudActionDialog.js"></script>
}
*@
