@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Elmah.Resx.UIStringResourcePerEntity> localizer_UIStringResourcePerEntity;
@inject IStringLocalizer<Elmah.Resx.UIStringResourcePerApp> localizer_UIStringResourcePerApp;
@inject IStringLocalizer<Framework.Resx.UIStringResource> localizer_UIStringResource;
@model Elmah.AspNetMvcCoreViewModel.ELMAH_Error.ItemVM
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>@Model.ContentData.Title.</h4>
                @*<h4>@Model.ContentData.Summary</h4>*@
            </div>
@if (Model.StatusOfResult != Framework.Services.BusinessLogicLayerResponseStatus.MessageOK && Model.StatusOfResult != Framework.Services.BusinessLogicLayerResponseStatus.UIProcessReady)
{
            <div class="card-body">
                <div class="text-danger">@Model.StatusMessageOfResult</div>
            </div>
}
<form asp-controller="UrlStringsAlias.ControllerName_ELMAH_Error" asp-action="AddNew" id="thisform" method="post" class="form">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
                <div class="card-body">
                <div class="form-group" >
                    <label asp-for="Item.Application" class="control-label"></label>
                        <select asp-for="Item.Application" asp-items="Model.SelectListOfElmahModel_ElmahApplication" class="form-control">
                            <option value="" disabled selected>@localizer_UIStringResourcePerApp["Please_select_ElmahApplication____"]</option>
                        </select>
                </div>
                <div class="form-group" >
                    <label asp-for="Item.Host" class="control-label"></label>
                        <select asp-for="Item.Host" asp-items="Model.SelectListOfElmahModel_ElmahHost" class="form-control">
                            <option value="" disabled selected>@localizer_UIStringResourcePerApp["Please_select_ElmahHost____"]</option>
                        </select>
                </div>
                <div class="form-group" >
                    <label asp-for="Item.Type" class="control-label"></label>
                        <select asp-for="Item.Type" asp-items="Model.SelectListOfElmahModel_ElmahType" class="form-control">
                            <option value="" disabled selected>@localizer_UIStringResourcePerApp["Please_select_ElmahType____"]</option>
                        </select>
                </div>
                <div class="form-group" >
                    <label asp-for="Item.Source" class="control-label"></label>
                        <select asp-for="Item.Source" asp-items="Model.SelectListOfElmahModel_ElmahSource" class="form-control">
                            <option value="" disabled selected>@localizer_UIStringResourcePerApp["Please_select_ElmahSource____"]</option>
                        </select>
                </div>
                <div class="form-group" >
                    <label asp-for="Item.Message" class="control-label"></label>
                        <input type="text" asp-for="Item.Message" class="form-control" />
                        <span asp-validation-for="Item.Message"></span>
                </div>
                <div class="form-group" >
                    <label asp-for="Item.User" class="control-label"></label>
                        <select asp-for="Item.User" asp-items="Model.SelectListOfElmahModel_ElmahUser" class="form-control">
                            <option value="" disabled selected>@localizer_UIStringResourcePerApp["Please_select_ElmahUser____"]</option>
                        </select>
                </div>
                <div class="form-group" >
                    <label asp-for="Item.StatusCode" class="control-label"></label>
                        <select asp-for="Item.StatusCode" asp-items="Model.SelectListOfElmahModel_ElmahStatusCode" class="form-control">
                            <option value="" disabled selected>@localizer_UIStringResourcePerApp["Please_select_ElmahStatusCode____"]</option>
                        </select>
                </div>
                <div class="form-group" >
                    <label asp-for="Item.TimeUtc" class="control-label"></label>
                        <input type="date" asp-for="Item.TimeUtc" class="form-control" min="@(DateTime.Now.AddYears(-150).ToString("yyyy-MM-dd"))" max="@(DateTime.Now.AddYears(150).ToString("yyyy-MM-dd"))"/>
                        <span asp-validation-for="Item.TimeUtc"></span>
                </div>
                <div class="form-group" >
                    <label asp-for="Item.Sequence" class="control-label"></label>
                        <input type="text" asp-for="Item.Sequence" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group" >
                    <label asp-for="Item.AllXml" class="control-label"></label>
                        <input type="text" asp-for="Item.AllXml" class="form-control" />
                        <span asp-validation-for="Item.AllXml"></span>
                </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <div class="btn-group">
                            <button class="btn btn-primary" role="button" type="submit">
                                <span class="fa fa-check-circle"></span>
                                <span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@Framework.Resx.UIStringResource.Save</span>
                            </button>
                            <a asp-area="" asp-controller="UrlStringsAlias.ControllerName_ELMAH_Error" asp-action="AddNew" class="btn btn-secondary" role="button" title="@Framework.Resx.UIStringResource.Refresh">
                                <span class="fa fa-refresh"></span>
                            </a>
                            <a asp-area="" asp-controller="UrlStringsAlias.ControllerName_ELMAH_Error" asp-action="Index" class="btn btn-secondary" role="button" title="@Framework.Resx.UIStringResource.Back">
                                <span class="fa fa-refresh"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
