@using Microsoft.Extensions.Localization;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@inject IStringLocalizer<Elmah.Resx.UIStringResourcePerEntity> localizer_UIStringResourcePerEntity;
@inject IStringLocalizer<Elmah.Resx.UIStringResourcePerApp> localizer_UIStringResourcePerApp;
@inject IStringLocalizer<Framework.Resx.UIStringResource> localizer_UIStringResource;
@model Elmah.AspNetMvcCoreViewModel.ELMAH_Error.DashboardVM
@{
}
 <div class="row">
 <div class="col-12 col-sm-4 col-md-4 col-lg-4">
<!-- Aside.01.Start. ElmahModel.ELMAH_Error => MasterViewAsideKeyInformation -->
<div class="card-group">
    <div class="card">
        <div class="card-header">
            <h3 style="display: inline;">
                @localizer_UIStringResourcePerApp["ELMAH_Error"]
            </h3>
        </div>
@if (Model.StatusOfMasterEntity == Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
{ // Item
        <div class="card-header"><div class="btn-group">
    <a asp-area="" asp-controller="ELMAH_Error" asp-action="Edit" asp-route-errorId="@Model.MasterEntity.ErrorId" class="btn btn-secondary" role="button" name="EditToolBarUp" title="@localizer_UIStringResource["Edit"]">
        <span class="fa fa-edit"></span>
    </a>
    <a asp-area="" asp-controller="ELMAH_Error" asp-action="AddNew" class="btn btn-secondary" role="button" name="AddNewToolBarUp" title="@localizer_UIStringResource["AddNew"]">
        <span class="fa fa-plus"></span>
    </a>
    <a asp-area="" asp-controller="ELMAH_Error" asp-action="Copy" asp-route-errorId="@Model.MasterEntity.ErrorId" class="btn btn-secondary" role="button" name="CopyToolBarUp" title="@localizer_UIStringResource["Copy"]">
        <span class="fa fa-copy"></span>
    </a>
    <a asp-area="" asp-controller="ELMAH_Error" asp-action="Details" asp-route-errorId="@Model.MasterEntity.ErrorId" class="btn btn-secondary" role="button" name="DetailsToolBarUp" title="@localizer_UIStringResource["Details"]">
        <span class="fa fa-file"></span>
    </a>
    <a asp-area="" asp-controller="ELMAH_Error" asp-action="Index" class="btn btn-secondary" role="button" name="GotoSearchToolBarUp" title="@localizer_UIStringResource["GotoSearch"]">
        <span class="fa fa-search"></span>
    </a>
        </div></div>
        <div class="card-body">
                <div class="form-group" >
                    <label asp-for="MasterEntity.Application" class="control-label"></label>
                        <a asp-area="" asp-controller="ElmahApplication" asp-action="Dashboard" asp-route-application="@Model.MasterEntity.ElmahApplication_Name" class="form-control">@Model.MasterEntity.ElmahApplication_Name</a>
                </div>
                <div class="form-group" >
                    <label asp-for="MasterEntity.Host" class="control-label"></label>
                        <a asp-area="" asp-controller="ElmahHost" asp-action="Dashboard" asp-route-host="@Model.MasterEntity.ElmahHost_Name" class="form-control">@Model.MasterEntity.ElmahHost_Name</a>
                </div>
                <div class="form-group" >
                    <label asp-for="MasterEntity.Type" class="control-label"></label>
                        <a asp-area="" asp-controller="ElmahType" asp-action="Dashboard" asp-route-type="@Model.MasterEntity.ElmahType_Name" class="form-control">@Model.MasterEntity.ElmahType_Name</a>
                </div>
                <div class="form-group" >
                    <label asp-for="MasterEntity.Source" class="control-label"></label>
                        <a asp-area="" asp-controller="ElmahSource" asp-action="Dashboard" asp-route-source="@Model.MasterEntity.ElmahSource_Name" class="form-control">@Model.MasterEntity.ElmahSource_Name</a>
                </div>
                <div class="form-group" >
                    <label asp-for="MasterEntity.Message" class="control-label"></label>
                        <input type="text" asp-for="MasterEntity.Message" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group" >
                    <label asp-for="MasterEntity.User" class="control-label"></label>
                        <a asp-area="" asp-controller="ElmahUser" asp-action="Dashboard" asp-route-user="@Model.MasterEntity.ElmahUser_Name" class="form-control">@Model.MasterEntity.ElmahUser_Name</a>
                </div>
                <div class="form-group" >
                    <label asp-for="MasterEntity.StatusCode" class="control-label"></label>
                        <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Dashboard" asp-route-statusCode="@Model.MasterEntity.StatusCode" class="form-control">@Model.MasterEntity.ElmahStatusCode_Name</a>
                </div>
                <div class="form-group" >
                    <label asp-for="MasterEntity.TimeUtc" class="control-label"></label>
                        <input type="text" asp-for="MasterEntity.TimeUtc" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group" >
                    <label asp-for="MasterEntity.Sequence" class="control-label"></label>
                        <input type="text" asp-for="MasterEntity.Sequence" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group" >
                    <label asp-for="MasterEntity.AllXml" class="control-label"></label>
                        <input type="text" asp-for="MasterEntity.AllXml" class="form-control" readonly="readonly" />
                </div>
        </div>
        <div class="card-footer"><div class="btn-group">
        </div></div>
}
@if (Model.StatusOfMasterEntity != Framework.Services.BusinessLogicLayerResponseStatus.UIProcessReady && Model.StatusOfMasterEntity != Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
{
<div class="btn-group">
    <a asp-area="" asp-controller="ELMAH_Error" asp-action="AddNew" class="btn btn-secondary" role="button" name="AddNewToolBarUp" title="@localizer_UIStringResource["AddNew"]">
        <span class="fa fa-plus"></span>
    </a>
    <a asp-area="" asp-controller="ELMAH_Error" asp-action="Index" class="btn btn-secondary" role="button" name="GotoSearchToolBarUp" title="@localizer_UIStringResource["GotoSearch"]">
        <span class="fa fa-search"></span>
    </a>
</div>
<div class="text-danger">@Model.StatusMessageOfMasterEntity</div>
<div class="btn-group">
</div>
}
    </div>
</div>
<!-- Aside.01.End. ElmahModel.ELMAH_Error => MasterViewAsideKeyInformation -->
<!-- Aside.11.Start. ElmahModel.ElmahApplication => RelatedEntityWhenMasterViewIsFKEntity -->
<div class="card-group">
    <div class="card">
        <div class="card-header">
            <h3 style="display: inline;">
                <a data-toggle="collapse" href="#collapseElmahApplication_1">@localizer_UIStringResourcePerApp["ElmahApplication"]</a>
            </h3>
        </div>
        <div id="collapseElmahApplication_1" class="collapse">
@if (Model.StatusOfElmahApplication == Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
{ // Item
        <div class="card-header"><div class="btn-group">
    <a asp-area="" asp-controller="ElmahApplication" asp-action="Index" class="btn btn-secondary" role="button" name="GotoSearchToolBarUp" title="@localizer_UIStringResource["GotoSearch"]">
        <span class="fa fa-search"></span>
    </a>
    <a asp-area="" asp-controller="ElmahApplication" asp-action="Dashboard" asp-route-application="@Model.ElmahApplication.Application" class="btn btn-secondary" role="button" name="FullDetailsToolBarUp" title="@localizer_UIStringResource["FullDetails"]">
        <span class="fa fa-briefcase"></span>
    </a>
        </div></div>
        <div class="card-body">
                <div class="form-group" >
                    <label asp-for="ElmahApplication.Application" class="control-label"></label>
                        <div class="form-control">
                            @Model.ElmahApplication.Application
                            <input type="hidden" asp-for="ElmahApplication.Application" />
                        </div>
                </div>
        </div>
        <div class="card-footer"><div class="btn-group">
        </div></div>
}
@if (Model.StatusOfElmahApplication != Framework.Services.BusinessLogicLayerResponseStatus.UIProcessReady && Model.StatusOfElmahApplication != Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
{
<div class="btn-group">
    <a asp-area="" asp-controller="ElmahApplication" asp-action="Index" class="btn btn-secondary" role="button" name="GotoSearchToolBarUp" title="@localizer_UIStringResource["GotoSearch"]">
        <span class="fa fa-search"></span>
    </a>
</div>
<div class="text-danger">@Model.StatusMessageOfElmahApplication</div>
<div class="btn-group">
</div>
}
        </div>
    </div>
</div>
<!-- Aside.11.End. ElmahModel.ElmahApplication => RelatedEntityWhenMasterViewIsFKEntity -->
<!-- Aside.21.Start. ElmahModel.ElmahHost => RelatedEntityWhenMasterViewIsFKEntity -->
<div class="card-group">
    <div class="card">
        <div class="card-header">
            <h3 style="display: inline;">
                <a data-toggle="collapse" href="#collapseElmahHost_2">@localizer_UIStringResourcePerApp["ElmahHost"]</a>
            </h3>
        </div>
        <div id="collapseElmahHost_2" class="collapse">
@if (Model.StatusOfElmahHost == Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
{ // Item
        <div class="card-header"><div class="btn-group">
    <a asp-area="" asp-controller="ElmahHost" asp-action="Index" class="btn btn-secondary" role="button" name="GotoSearchToolBarUp" title="@localizer_UIStringResource["GotoSearch"]">
        <span class="fa fa-search"></span>
    </a>
    <a asp-area="" asp-controller="ElmahHost" asp-action="Dashboard" asp-route-host="@Model.ElmahHost.Host" class="btn btn-secondary" role="button" name="FullDetailsToolBarUp" title="@localizer_UIStringResource["FullDetails"]">
        <span class="fa fa-briefcase"></span>
    </a>
        </div></div>
        <div class="card-body">
                <div class="form-group" >
                    <label asp-for="ElmahHost.Host" class="control-label"></label>
                        <div class="form-control">
                            @Model.ElmahHost.Host
                            <input type="hidden" asp-for="ElmahHost.Host" />
                        </div>
                </div>
        </div>
        <div class="card-footer"><div class="btn-group">
        </div></div>
}
@if (Model.StatusOfElmahHost != Framework.Services.BusinessLogicLayerResponseStatus.UIProcessReady && Model.StatusOfElmahHost != Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
{
<div class="btn-group">
    <a asp-area="" asp-controller="ElmahHost" asp-action="Index" class="btn btn-secondary" role="button" name="GotoSearchToolBarUp" title="@localizer_UIStringResource["GotoSearch"]">
        <span class="fa fa-search"></span>
    </a>
</div>
<div class="text-danger">@Model.StatusMessageOfElmahHost</div>
<div class="btn-group">
</div>
}
        </div>
    </div>
</div>
<!-- Aside.21.End. ElmahModel.ElmahHost => RelatedEntityWhenMasterViewIsFKEntity -->
<!-- Aside.31.Start. ElmahModel.ElmahSource => RelatedEntityWhenMasterViewIsFKEntity -->
<div class="card-group">
    <div class="card">
        <div class="card-header">
            <h3 style="display: inline;">
                <a data-toggle="collapse" href="#collapseElmahSource_3">@localizer_UIStringResourcePerApp["ElmahSource"]</a>
            </h3>
        </div>
        <div id="collapseElmahSource_3" class="collapse">
@if (Model.StatusOfElmahSource == Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
{ // Item
        <div class="card-header"><div class="btn-group">
    <a asp-area="" asp-controller="ElmahSource" asp-action="Index" class="btn btn-secondary" role="button" name="GotoSearchToolBarUp" title="@localizer_UIStringResource["GotoSearch"]">
        <span class="fa fa-search"></span>
    </a>
    <a asp-area="" asp-controller="ElmahSource" asp-action="Dashboard" asp-route-source="@Model.ElmahSource.Source" class="btn btn-secondary" role="button" name="FullDetailsToolBarUp" title="@localizer_UIStringResource["FullDetails"]">
        <span class="fa fa-briefcase"></span>
    </a>
        </div></div>
        <div class="card-body">
                <div class="form-group" >
                    <label asp-for="ElmahSource.Source" class="control-label"></label>
                        <div class="form-control">
                            @Model.ElmahSource.Source
                            <input type="hidden" asp-for="ElmahSource.Source" />
                        </div>
                </div>
        </div>
        <div class="card-footer"><div class="btn-group">
        </div></div>
}
@if (Model.StatusOfElmahSource != Framework.Services.BusinessLogicLayerResponseStatus.UIProcessReady && Model.StatusOfElmahSource != Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
{
<div class="btn-group">
    <a asp-area="" asp-controller="ElmahSource" asp-action="Index" class="btn btn-secondary" role="button" name="GotoSearchToolBarUp" title="@localizer_UIStringResource["GotoSearch"]">
        <span class="fa fa-search"></span>
    </a>
</div>
<div class="text-danger">@Model.StatusMessageOfElmahSource</div>
<div class="btn-group">
</div>
}
        </div>
    </div>
</div>
<!-- Aside.31.End. ElmahModel.ElmahSource => RelatedEntityWhenMasterViewIsFKEntity -->
<!-- Aside.41.Start. ElmahModel.ElmahStatusCode => RelatedEntityWhenMasterViewIsFKEntity -->
<div class="card-group">
    <div class="card">
        <div class="card-header">
            <h3 style="display: inline;">
                <a data-toggle="collapse" href="#collapseElmahStatusCode_4">@localizer_UIStringResourcePerApp["ElmahStatusCode"]</a>
            </h3>
        </div>
        <div id="collapseElmahStatusCode_4" class="collapse">
@if (Model.StatusOfElmahStatusCode == Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
{ // Item
        <div class="card-header"><div class="btn-group">
    <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Index" class="btn btn-secondary" role="button" name="GotoSearchToolBarUp" title="@localizer_UIStringResource["GotoSearch"]">
        <span class="fa fa-search"></span>
    </a>
    <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Dashboard" asp-route-statusCode="@Model.ElmahStatusCode.StatusCode" class="btn btn-secondary" role="button" name="FullDetailsToolBarUp" title="@localizer_UIStringResource["FullDetails"]">
        <span class="fa fa-briefcase"></span>
    </a>
        </div></div>
        <div class="card-body">
                <div class="form-group" >
                    <label asp-for="ElmahStatusCode.StatusCode" class="control-label"></label>
                        <div class="form-control">
                            @Model.ElmahStatusCode.StatusCode
                            <input type="hidden" asp-for="ElmahStatusCode.StatusCode" />
                        </div>
                </div>
                <div class="form-group" >
                    <label asp-for="ElmahStatusCode.Name" class="control-label"></label>
                        <input type="text" asp-for="ElmahStatusCode.Name" class="form-control" readonly="readonly" />
                </div>
        </div>
        <div class="card-footer"><div class="btn-group">
        </div></div>
}
@if (Model.StatusOfElmahStatusCode != Framework.Services.BusinessLogicLayerResponseStatus.UIProcessReady && Model.StatusOfElmahStatusCode != Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
{
<div class="btn-group">
    <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Index" class="btn btn-secondary" role="button" name="GotoSearchToolBarUp" title="@localizer_UIStringResource["GotoSearch"]">
        <span class="fa fa-search"></span>
    </a>
</div>
<div class="text-danger">@Model.StatusMessageOfElmahStatusCode</div>
<div class="btn-group">
</div>
}
        </div>
    </div>
</div>
<!-- Aside.41.End. ElmahModel.ElmahStatusCode => RelatedEntityWhenMasterViewIsFKEntity -->
<!-- Aside.51.Start. ElmahModel.ElmahType => RelatedEntityWhenMasterViewIsFKEntity -->
<div class="card-group">
    <div class="card">
        <div class="card-header">
            <h3 style="display: inline;">
                <a data-toggle="collapse" href="#collapseElmahType_5">@localizer_UIStringResourcePerApp["ElmahType"]</a>
            </h3>
        </div>
        <div id="collapseElmahType_5" class="collapse">
@if (Model.StatusOfElmahType == Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
{ // Item
        <div class="card-header"><div class="btn-group">
    <a asp-area="" asp-controller="ElmahType" asp-action="Index" class="btn btn-secondary" role="button" name="GotoSearchToolBarUp" title="@localizer_UIStringResource["GotoSearch"]">
        <span class="fa fa-search"></span>
    </a>
    <a asp-area="" asp-controller="ElmahType" asp-action="Dashboard" asp-route-type="@Model.ElmahType.Type" class="btn btn-secondary" role="button" name="FullDetailsToolBarUp" title="@localizer_UIStringResource["FullDetails"]">
        <span class="fa fa-briefcase"></span>
    </a>
        </div></div>
        <div class="card-body">
                <div class="form-group" >
                    <label asp-for="ElmahType.Type" class="control-label"></label>
                        <div class="form-control">
                            @Model.ElmahType.Type
                            <input type="hidden" asp-for="ElmahType.Type" />
                        </div>
                </div>
        </div>
        <div class="card-footer"><div class="btn-group">
        </div></div>
}
@if (Model.StatusOfElmahType != Framework.Services.BusinessLogicLayerResponseStatus.UIProcessReady && Model.StatusOfElmahType != Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
{
<div class="btn-group">
    <a asp-area="" asp-controller="ElmahType" asp-action="Index" class="btn btn-secondary" role="button" name="GotoSearchToolBarUp" title="@localizer_UIStringResource["GotoSearch"]">
        <span class="fa fa-search"></span>
    </a>
</div>
<div class="text-danger">@Model.StatusMessageOfElmahType</div>
<div class="btn-group">
</div>
}
        </div>
    </div>
</div>
<!-- Aside.51.End. ElmahModel.ElmahType => RelatedEntityWhenMasterViewIsFKEntity -->
<!-- Aside.61.Start. ElmahModel.ElmahUser => RelatedEntityWhenMasterViewIsFKEntity -->
<div class="card-group">
    <div class="card">
        <div class="card-header">
            <h3 style="display: inline;">
                <a data-toggle="collapse" href="#collapseElmahUser_6">@localizer_UIStringResourcePerApp["ElmahUser"]</a>
            </h3>
        </div>
        <div id="collapseElmahUser_6" class="collapse">
@if (Model.StatusOfElmahUser == Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
{ // Item
        <div class="card-header"><div class="btn-group">
    <a asp-area="" asp-controller="ElmahUser" asp-action="Index" class="btn btn-secondary" role="button" name="GotoSearchToolBarUp" title="@localizer_UIStringResource["GotoSearch"]">
        <span class="fa fa-search"></span>
    </a>
    <a asp-area="" asp-controller="ElmahUser" asp-action="Dashboard" asp-route-user="@Model.ElmahUser.User" class="btn btn-secondary" role="button" name="FullDetailsToolBarUp" title="@localizer_UIStringResource["FullDetails"]">
        <span class="fa fa-briefcase"></span>
    </a>
        </div></div>
        <div class="card-body">
                <div class="form-group" >
                    <label asp-for="ElmahUser.User" class="control-label"></label>
                        <div class="form-control">
                            @Model.ElmahUser.User
                            <input type="hidden" asp-for="ElmahUser.User" />
                        </div>
                </div>
        </div>
        <div class="card-footer"><div class="btn-group">
        </div></div>
}
@if (Model.StatusOfElmahUser != Framework.Services.BusinessLogicLayerResponseStatus.UIProcessReady && Model.StatusOfElmahUser != Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
{
<div class="btn-group">
    <a asp-area="" asp-controller="ElmahUser" asp-action="Index" class="btn btn-secondary" role="button" name="GotoSearchToolBarUp" title="@localizer_UIStringResource["GotoSearch"]">
        <span class="fa fa-search"></span>
    </a>
</div>
<div class="text-danger">@Model.StatusMessageOfElmahUser</div>
<div class="btn-group">
</div>
}
        </div>
    </div>
</div>
<!-- Aside.61.End. ElmahModel.ElmahUser => RelatedEntityWhenMasterViewIsFKEntity -->
 </div>
 </div>
