@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Elmah.Resx.UIStringResourcePerEntity> localizer_UIStringResourcePerEntity;
@inject IStringLocalizer<Elmah.Resx.UIStringResourcePerApp> localizer_UIStringResourcePerApp;
@inject IStringLocalizer<Framework.Resx.UIStringResource> localizer_UIStringResource;
@model Elmah.AspNetMvcCoreViewModel.ELMAH_Error.ItemVM
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>@Model.ContentData.Title.</h4>
                @*<h4>@Model.ContentData.Summary</h4>*@
        <h3>@Framework.Resx.UIStringResource.Warning_Areyousureyouwanttodeletethis</h3>
            </div>
@if (Model.StatusOfResult != Framework.Services.BusinessLogicLayerResponseStatus.MessageOK && Model.StatusOfResult != Framework.Services.BusinessLogicLayerResponseStatus.UIProcessReady)
{
            <div class="card-body">
                <div class="text-danger">@Model.StatusMessageOfResult</div>
            </div>
}
            <form asp-controller="UrlStringsAlias.ControllerName_ELMAH_Error" asp-action="Delete" id="thisform" method="post" class="form">
            @Html.AntiForgeryToken()
                <div class="card-body">
                <div class="form-group" >
                    <label asp-for="Item.Application" class="control-label"></label>
                        <a asp-area="" asp-controller="ElmahApplication" asp-action="Dashboard" asp-route-application="@Model.Item.ElmahApplication_Name" class="form-control">@Model.Item.ElmahApplication_Name</a>
                </div>
                <div class="form-group" >
                    <label asp-for="Item.Host" class="control-label"></label>
                        <a asp-area="" asp-controller="ElmahHost" asp-action="Dashboard" asp-route-host="@Model.Item.ElmahHost_Name" class="form-control">@Model.Item.ElmahHost_Name</a>
                </div>
                <div class="form-group" >
                    <label asp-for="Item.Type" class="control-label"></label>
                        <a asp-area="" asp-controller="ElmahType" asp-action="Dashboard" asp-route-type="@Model.Item.ElmahType_Name" class="form-control">@Model.Item.ElmahType_Name</a>
                </div>
                <div class="form-group" >
                    <label asp-for="Item.Source" class="control-label"></label>
                        <a asp-area="" asp-controller="ElmahSource" asp-action="Dashboard" asp-route-source="@Model.Item.ElmahSource_Name" class="form-control">@Model.Item.ElmahSource_Name</a>
                </div>
                <div class="form-group" >
                    <label asp-for="Item.Message" class="control-label"></label>
                        <input type="text" asp-for="Item.Message" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group" >
                    <label asp-for="Item.User" class="control-label"></label>
                        <a asp-area="" asp-controller="ElmahUser" asp-action="Dashboard" asp-route-user="@Model.Item.ElmahUser_Name" class="form-control">@Model.Item.ElmahUser_Name</a>
                </div>
                <div class="form-group" >
                    <label asp-for="Item.StatusCode" class="control-label"></label>
                        <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Dashboard" asp-route-statusCode="@Model.Item.StatusCode" class="form-control">@Model.Item.ElmahStatusCode_Name</a>
                </div>
                <div class="form-group" >
                    <label asp-for="Item.TimeUtc" class="control-label"></label>
                        <input type="text" asp-for="Item.TimeUtc" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group" >
                    <label asp-for="Item.Sequence" class="control-label"></label>
                        <input type="text" asp-for="Item.Sequence" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group" >
                    <label asp-for="Item.AllXml" class="control-label"></label>
                        <input type="text" asp-for="Item.AllXml" class="form-control" readonly="readonly" />
                </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <div class="btn-group">
                            <button class="btn btn-primary" role="button" type="submit">
                                <span class="fa fa-check-circle"></span>
                                <span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@Framework.Resx.UIStringResource.Delete</span>
                            </button>
                            <a asp-area="" asp-controller="UrlStringsAlias.ControllerName_ELMAH_Error" asp-action="Delete" asp-route-errorId="@Model.Item.ErrorId" class="btn btn-secondary" role="button" title="@Framework.Resx.UIStringResource.Refresh">
                                <span class="fa fa-refresh"></span>
                            </a>
                            <a asp-area="" asp-controller="UrlStringsAlias.ControllerName_ELMAH_Error" asp-action="Index" class="btn btn-secondary" role="button" title="@Framework.Resx.UIStringResource.Back">
                                <span class="fa fa-refresh"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
