@using Microsoft.Extensions.Localization;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@inject IStringLocalizer<Elmah.Resx.UIStringResourcePerEntity> localizer_UIStringResourcePerEntity;
@inject IStringLocalizer<Elmah.Resx.UIStringResourcePerApp> localizer_UIStringResourcePerApp;
@inject IStringLocalizer<Framework.Resx.UIStringResource> localizer_UIStringResource;
@model Elmah.AspNetMvcCoreViewModel.ELMAH_Error.IndexVM
@{
}
 <div class="row">
 <div class="col-12 col-sm-4 col-md-3 col-lg-3">
        <form asp-controller="ELMAH_Error" asp-action="Index" id="thisform" method="post">
         <div class="card">
             <div class="card-header">
                    <h3 class="card-title" style="padding-top:7.5px;display:inline;">@localizer_UIStringResource["Common_Filter"]</h3>
                 <div class="float-right">
    <button class="btn btn-secondary" role="button" type="submit" name="SearchToolBarUp" title="@localizer_UIStringResource["Search"]">
        <span class="fa fa-search"></span>
    </button>
                        <input type="hidden" asp-for="QueryPagingSetting.PageSize" id="pageSizeH" />
                        <input type="hidden" asp-for="QueryOrderBySettingCollecionInString" id="orderByH" />
                </div>
            </div>
            <div class="card-body">
 <div class="form-group">
    <label class="control-label">@localizer_UIStringResource["AnyText"]</label>
    <input asp-for="Criteria.Common.StringContains_AllColumns.NullableValueToBeContained" class="form-control" />
</div>
<div class="form-group">
    <label class="control-label">@localizer_UIStringResourcePerEntity["ElmahUser"]</label>
    <select asp-for="Criteria.Common.User.NullableValueToCompare" asp-items="Model.SelectListOfElmahModel_ElmahUser" class="form-control">
        <option value="" selected>@localizer_UIStringResourcePerApp["Please_select_ElmahUser____"]</option>
    </select>
</div>
<div class="form-group">
    <label class="control-label">@localizer_UIStringResourcePerEntity["ElmahType"]</label>
    <select asp-for="Criteria.Common.Type.NullableValueToCompare" asp-items="Model.SelectListOfElmahModel_ElmahType" class="form-control">
        <option value="" selected>@localizer_UIStringResourcePerApp["Please_select_ElmahType____"]</option>
    </select>
</div>
<div class="form-group">
    <label class="control-label">@localizer_UIStringResourcePerEntity["ElmahStatusCode"]</label>
    <select asp-for="Criteria.Common.StatusCode.NullableValueToCompare" asp-items="Model.SelectListOfElmahModel_ElmahStatusCode" class="form-control">
        <option value="" selected>@localizer_UIStringResourcePerApp["Please_select_ElmahStatusCode____"]</option>
    </select>
</div>
<div class="form-group">
    <label class="control-label">@localizer_UIStringResourcePerEntity["ElmahSource"]</label>
    <select asp-for="Criteria.Common.Source.NullableValueToCompare" asp-items="Model.SelectListOfElmahModel_ElmahSource" class="form-control">
        <option value="" selected>@localizer_UIStringResourcePerApp["Please_select_ElmahSource____"]</option>
    </select>
</div>
<div class="form-group">
    <label class="control-label">@localizer_UIStringResourcePerEntity["ElmahHost"]</label>
    <select asp-for="Criteria.Common.Host.NullableValueToCompare" asp-items="Model.SelectListOfElmahModel_ElmahHost" class="form-control">
        <option value="" selected>@localizer_UIStringResourcePerApp["Please_select_ElmahHost____"]</option>
    </select>
</div>
<div class="form-group">
    <label class="control-label">@localizer_UIStringResourcePerEntity["ElmahApplication"]</label>
    <select asp-for="Criteria.Common.Application.NullableValueToCompare" asp-items="Model.SelectListOfElmahModel_ElmahApplication" class="form-control">
        <option value="" selected>@localizer_UIStringResourcePerApp["Please_select_ElmahApplication____"]</option>
    </select>
</div>
    <label class="control-label">@localizer_UIStringResourcePerEntity["TimeUtc"]</label>
    <select asp-for="Criteria.Common.TimeUtcRange.PreDefinedDateTimeRange" asp-items="Model.UISharedViewModel.PreDefinedDateTimeRangeList" class="form-control"></select>
    <input asp-for="Criteria.Common.TimeUtcRange.NullableLowerBound" class="form-control" readonly="readonly"/>
    <input asp-for="Criteria.Common.TimeUtcRange.NullableUpperBound" class="form-control" readonly="readonly"/>
            </div>
            <div class="card-footer">
                <div class="float-right">
    <button class="btn btn-secondary" role="button" type="submit" name="SearchToolBarBottom" title="@localizer_UIStringResource["Search"]">
        <span class="fa fa-search"></span>
    </button>
                </div>
            </div>
        </div>
      </form>
 </div>
 <div class="col-12 col-sm-8 col-md-9 col-lg-9 nopadding">
         <div class="card">
             <div class="card-header">
                 <h3 class="card-title" style="padding-top:7.5px;display:inline;"><a class="nav-link text-dark" asp-area="" asp-controller="ELMAH_Error" asp-action="Index">@localizer_UIStringResourcePerApp["ELMAH_Error"]</a></h3>
                 <div class="float-right row"><div class="btn-group">
    <a asp-area="" asp-controller="ELMAH_Error" asp-action="AddNew" class="btn btn-secondary" role="button" name="AddNewToolBarUp" title="@localizer_UIStringResource["AddNew"]">
        <span class="fa fa-plus"></span>
    </a>
    <a asp-area="" asp-controller="ELMAH_Error" asp-action="Index_Export" asp-route-dataServiceType="Csv" class="btn btn-secondary" role="button" name="ExportToolBarUp" title="@localizer_UIStringResource["Export"]" download>
        <span class="fa fa-download"></span>
    </a>
    <a asp-area="" asp-controller="ELMAH_Error" asp-action="Index_Export" asp-route-dataServiceType="Excel2010" class="btn btn-secondary" role="button" name="ExportToExcelToolBarUp" title="@localizer_UIStringResource["ExportToExcel"]" download>
        <span class="fa fa-download"></span>
    </a>
    <a asp-area="" asp-controller="ELMAH_Error" asp-action="Import" class="btn btn-secondary" role="button" name="ImportToolBarUp" title="@localizer_UIStringResource["Import"]">
        <span class="fa fa-upload"></span>
    </a>
                    <select asp-for="QueryPagingSetting.PageSize" asp-items="Model.UISharedViewModel.SelectListOfPageSize" class="form-control col-3" id="pageSize"></select>
                    <label class="form-inline">Sort by:</label>
                    <select asp-for="QueryOrderBySettingCollecionInString" asp-items="Model.UISharedViewModel.SelectListOfQueryOrderBySettingCollecionInString" class="form-control col-3" id="orderBy"></select>
                </div></div>
            </div>
            <div class="card-body table-responsive">
<table id="MasterDataControl1" name="MasterDataControl1" class="table table-hover table-bordered table-striped">
<thead>
    <tr class="pt-0 pb-0">
<th class="p-0"></th>
<th class="pt-0 pb-0">@localizer_UIStringResourcePerEntity["Application"]</th>
<th class="pt-0 pb-0">@localizer_UIStringResourcePerEntity["Host"]</th>
<th class="pt-0 pb-0">@localizer_UIStringResourcePerEntity["Type"]</th>
<th class="pt-0 pb-0">@localizer_UIStringResourcePerEntity["Source"]</th>
<th class="hidden-xs pt-0 pb-0">@localizer_UIStringResourcePerEntity["Message"]</th>
<th class="hidden-xs pt-0 pb-0">@localizer_UIStringResourcePerEntity["User"]</th>
<th class="hidden-sm pt-0 pb-0">@localizer_UIStringResourcePerEntity["StatusCode"]</th>
<th class="hidden-sm pt-0 pb-0">@localizer_UIStringResourcePerEntity["TimeUtc"]</th>
<th class="hidden-md pt-0 pb-0">@localizer_UIStringResourcePerEntity["Sequence"]</th>
<th class="hidden-md pt-0 pb-0">@localizer_UIStringResourcePerEntity["AllXml"]</th>
    </tr>
</thead>
<tbody>
    @if (Model != null && Model.StatusOfResult == Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
    {
        for (var i = 0; i < Model.Result.Count; i ++)
        {
            <tr class="pt-0 pb-0">
<td class="p-0"><div class="btn-group">
    <a asp-area="" asp-controller="ELMAH_Error" asp-action="Dashboard" asp-route-errorId= "@Model.Result[i].ErrorId" class="btn btn-secondary" role="button" name="FullDetailsToolBarRightInList" title="@localizer_UIStringResource["FullDetails"]">
        <span class="fa fa-briefcase"></span>
    </a>
    <a asp-area="" asp-controller="ELMAH_Error" asp-action="Edit" asp-route-errorId= "@Model.Result[i].ErrorId" class="btn btn-secondary" role="button" name="EditToolBarRightInList" title="@localizer_UIStringResource["Edit"]">
        <span class="fa fa-edit"></span>
    </a>
</div></td>
<td><a asp-area="" asp-controller="ElmahApplication" asp-action="Dashboard" asp-route-application="@Model.Result[i].ElmahApplication_Name">@Model.Result[i].ElmahApplication_Name</a></td>
<td><a asp-area="" asp-controller="ElmahHost" asp-action="Dashboard" asp-route-host="@Model.Result[i].ElmahHost_Name">@Model.Result[i].ElmahHost_Name</a></td>
<td><a asp-area="" asp-controller="ElmahType" asp-action="Dashboard" asp-route-type="@Model.Result[i].ElmahType_Name">@Model.Result[i].ElmahType_Name</a></td>
<td><a asp-area="" asp-controller="ElmahSource" asp-action="Dashboard" asp-route-source="@Model.Result[i].ElmahSource_Name">@Model.Result[i].ElmahSource_Name</a></td>
<td class="hidden-xs pt-0 pb-0">@Model.Result[i].Message</td>
<td class="hidden-xs pt-0 pb-0"><a asp-area="" asp-controller="ElmahUser" asp-action="Dashboard" asp-route-user="@Model.Result[i].ElmahUser_Name">@Model.Result[i].ElmahUser_Name</a></td>
<td class="hidden-sm pt-0 pb-0"><a asp-area="" asp-controller="ElmahStatusCode" asp-action="Dashboard" asp-route-statusCode="@Model.Result[i].StatusCode">@Model.Result[i].ElmahStatusCode_Name</a></td>
<td class="hidden-sm pt-0 pb-0">@Model.Result[i].TimeUtc</td>
<td class="hidden-md pt-0 pb-0">@Model.Result[i].Sequence</td>
<td class="hidden-md pt-0 pb-0">@Model.Result[i].AllXml</td>
            </tr>
        }
    }
    else
    {
<tr><td colspan="50" ><div class="text-danger">@Model.StatusMessageOfResult</div>
</td></tr>
    }
</tbody>
</table>
            </div>
            @Model.QueryPagingSetting.GetPagingInformationString()
            <div class="card-footer">
                @if (Model.Result != null)
                {
                    var pagedResult = (IPagedList<Elmah.DataSourceEntities.ELMAH_Error.Default>)ViewBag.StaticPagedResult;
                        <div class="float-right">
                            @Html.PagedListPager((IPagedList<Elmah.DataSourceEntities.ELMAH_Error.Default>)ViewBag.StaticPagedResult, currentPage => Url.Action("Index", new { currentPage = currentPage }))
                        </div>
                }
            </div>
        </div>
 </div>
 </div>
@section Scripts {
   <script type="text/javascript">
        $(document).ready($(function() {
            $('select[name="Criteria.Common.TimeUtcRange.PreDefinedDateTimeRange"]').change(function () {
                preDefinedDateTimeRangeChanged('Criteria.Common.TimeUtcRange');
            });
            preDefinedDateTimeRangeChanged('Criteria.Common.TimeUtcRange');
            $('input[name="Criteria.Common.TimeUtcRange.NullableLowerBound"]').datepicker({
                autoclose: false,
                showClose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: true,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'dd/mm/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: true,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.Common.TimeUtcRange.NullableUpperBound"]').datepicker({
                autoclose: false,
                showClose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: true,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'dd/mm/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: true,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.Common.TimeUtcRange.NullableLowerBound"]').prop('disabled', true);
            $('input[name="Criteria.Common.TimeUtcRange.NullableUpperBound"]').prop('disabled', true);
        }));
    </script>
}
