@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Elmah.Resx.UIStringResourcePerApp> localizer_UIStringResourcePerApp;
@inject IStringLocalizer<Framework.Resx.UIStringResource> localizer_UIStringResource;
@{
    ViewBag.Title = localizer_UIStringResource["Common_AboutPageTitle"];
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<aside>
    <ul>
        <li>@Html.ActionLink(localizer_UIStringResource["Home_TitleText"], "Index", "Home")</li>
        <li>@Html.ActionLink(localizer_UIStringResource["Common_AboutPageTitle"], "About", "Home")</li>
        <li>@Html.ActionLink(localizer_UIStringResource["Common_ContactPageTitle"], "Contact", "Home")</li>
    </ul>
</aside>
