@using Framework.Models;
@using Elmah.Models.Definitions;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahApplicationModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="hidden-modal-title" value="@Model!.Model!.Application" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Model!.Application" id="@Model.HtmlId(nameof(ElmahApplicationModel.Application))" name="@Model.HtmlName(nameof(ElmahApplicationModel.Application))"/>
    <div class="form-group">
        <label asp-for="Model!.Application" class="control-label" for="@Model!.HtmlId(nameof(ElmahApplicationModel.Application))"></label>
        <input asp-for="Model!.Application" class="form-control"  id="@Model.HtmlId(nameof(ElmahApplicationModel.Application))"  name="@Model.HtmlName(nameof(ElmahApplicationModel.Application))"/>
        <span asp-validation-for="Model!.Application" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahApplicationModel.Application))"></span>
    </div>
}
