@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahApplicationModel>
@inject IUIStrings localizor;
<td class="pt-0 pb-0 nt-list-bulk-select"></td>
<td class="p-0">
    <div class="btn-group btn-group-nt-action-save">
        <button type="button" class="btn btn-secondary btn-nt-action-cancel" data-nt-action="@HttpMethods.Post">
            <i class="fa-solid fa-circle-xmark"></i>
        </button>
        <button type="button" class="btn btn-primary btn-nt-action" data-nt-action="@HttpMethods.Delete"
            data-nt-container="@CrudViewContainers.Inline.ToString()"
            data-nt-template="@ViewItemTemplateNames.Delete.ToString()">
            <i class="fa-solid fa-check-circle"></i>
        </button>
    </div>
</td>
<td class="pt-0 pb-0">@Model.Model!.Application</td>
