@using Elmah.Models.Definitions;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahApplicationModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Create");
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>@localizor.Get("Create")</h1>
                <h4>@localizor.Get("ElmahApplication")</h4>
            </div>
            <form asp-action="Create">
                @if (Model.Status != System.Net.HttpStatusCode.OK)
                {
                    <div class="card-body">
                        <div class="text-danger">@Model.StatusMessage</div>
                    </div>
                }
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Model!.Application" class="control-label"></label>
                        <input asp-for="Model!.Application" class="form-control" />
                        <span asp-validation-for="Model!.Application" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-primary" role="button" type="submit">
                            <i class="fa-solid fa-check-circle"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Create")</span>
                        </button>
                        <a asp-area="" asp-controller="ElmahApplication" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Reset")">
                            <i class="fa-solid fa-refresh"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Reset")</span>
                        </a>
                        <a asp-area="" asp-controller="ElmahApplication" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Back_to_List")">
                            <i class="fa-solid fa-arrow-left"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Back_to_List")</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
