@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahHostModel>
@inject IUIStrings localizor;
@if (Model!.UIListSetting!.ShowListBulkActionRelated(true))
{
    <td class="pt-0 pb-0 nt-list-bulk-select" style="width: 1% !important;">
    </td>
}
@if (Model!.UIListSetting!.ShowItemButtons())
{
    <td class="p-0" style="width: 1% !important;">
    <div class="btn-group btn-group-nt-action-save">
        <button type="button" class="btn btn-secondary btn-nt-action-cancel" data-nt-action="@HttpMethods.Delete">
            <i class="fa-solid fa-circle-xmark"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Cancel")</span>
        </button>
        <button type="button" class="btn btn-primary btn-nt-action" data-nt-action="@HttpMethods.Delete"
            data-nt-container="@CrudViewContainers.Inline.ToString()"
            data-nt-template="@ViewItemTemplateNames.Delete.ToString()">
            <i class="fa-solid fa-check-circle"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Delete")</span>
        </button>
    </div>
    </td>
}
<td class="pt-0 pb-0">@Model!.Model!.Host</td>
<td class="pt-0 pb-0">@Model!.Model!.SpatialLocation</td>
@if (Model!.UIListSetting!.ShowItemUIStatus())
{
    <td class="form-group nt-item-status p-0" style="width: 1% !important;">
        <input asp-for="Model!.ItemUIStatus______" class="form-control" data-nt-value="@Model!.Model!.ItemUIStatus______" id="@Model!.HtmlId(nameof(ElmahHostModel.ItemUIStatus______))" name="@Model!.HtmlName(nameof(ElmahHostModel.ItemUIStatus______))" readonly />
    </td>
}
@if (Model!.UIListSetting!.ShowEditableListDeleteSelect())
{
    <td class="pb-0 form-group nt-editablelist-delete-select" style="width: 1% !important;">
        <input asp-for="Model!.IsDeleted______" class="form-check-input nt-form-check ms-1" type="checkbox"  id="@Model!.HtmlId(nameof(ElmahHostModel.IsDeleted______))" name="@Model!.HtmlName(nameof(ElmahHostModel.IsDeleted______))" />
    </td>
}
