@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@model PagedSearchViewModel<ElmahHostAdvancedQuery, ElmahHostModel[]>
@inject IUIStrings localizor;
@{
    ViewData["Title"] = @localizor.Get("Search") + " " + localizor.Get("ElmahHost");
    var format_All = localizor.Get("Format_All");
}
<form id="thisform" method="post" class="ajax-partial-load-post-formdata" data-partial-url="@Url.Action("_AjaxMultiItems", "ElmahHost")" data-updatetarget=".list-container-submit">
    <input type="hidden" asp-for="Query.PageIndex" id="pageIndexH" class="page-index" />
    <input type="hidden" asp-for="Query.PageSize" id="pageSizeH" />
    <input type="hidden" asp-for="Query.OrderBys" id="orderByH" />
    <input type="hidden" asp-for="Query.AdvancedQuery" id="advancedQueryH" />
    <input type="hidden" asp-for="Query.PagedViewOption" id="pagedViewOptionH" class="paged-view-options" />
    <input type="hidden" asp-for="Query.PaginationOption" id="paginationOptionH" />
    <div class="d-flex flex-row-reverse pt-1">
        <button class="btn btn-primary me-1 ms-1" role="button" type="submit" title="@localizor.Get("Search")">
            <i class="fa fa-search"></i>
            @localizor.Get("Search")
        </button>
    </div>
    <hr />
        <div class="input-group">
            <select asp-for="Query.TextSearchType" asp-items="ViewBag.TextSearchTypeList" class="input-group-text text-start">
            </select>
            <input asp-for="Query.TextSearch" class="form-control" placeholder="@localizor.Get("SearchTextDescription")" aria-label="@localizor.Get("SearchTextDescription")" />
        </div>
    <div class="row pt-1">
        <div class="col-md-6">
            <div class="input-group">
                <label class="input-group-text">@localizor.Get("Host")</label>
                <select asp-for="Query.HostSearchType" asp-items="ViewBag.TextSearchTypeList" class="input-group-text text-start">
                </select>
                <input asp-for="Query.Host" class="form-control" placeholder="@string.Format(@localizor.Get("Format_SearchTextDescription"), @localizor.Get("Host"))" aria-label="@string.Format(@localizor.Get("Format_SearchTextDescription"), @localizor.Get("Host"))" />
            </div>
        </div>
    </div>
    <div class="d-flex flex-row-reverse pt-2 pb-2">
        <button class="btn btn-primary me-1 ms-1" role="button" type="submit" title="@localizor.Get("Search")">
            <i class="fa fa-search"></i>
            @localizor.Get("Search")
        </button>
    </div>
</form>
<hr />
<div class="card">
    <div class="card-header">
        <h3 class="card-title float-start m-0" ><a class="nav-link text-dark" asp-area="" asp-controller="ElmahHost" asp-action="Index">@localizor.Get("ElmahHost")</a></h3>
        <div class="btn-group float-end mt-1" role="group" aria-label="View Options">
            <input type="radio" class="btn-check radio-pagedviewoption-submit" name="btnradio" id="btnradio-List" autocomplete="off" data-value="List" data-updatetarget="#pagedViewOptionH" data-paginationoptionupdatetarget="#paginationOptionH" data-paginationoptionupdatevalue="Paged" data-submittarget="#thisform" @(Model.Query.PagedViewOption==PagedViewOptions.List ? "checked": "")>
            <label class="btn btn-outline-primary" for="btnradio-List" title="List" aria-label="List"><i class="fa-solid fa-list"></i></label>
            <input type="radio" class="btn-check radio-pagedviewoption-submit" name="btnradio" id="btnradio-Tiles" autocomplete="off" data-value="Tiles" data-updatetarget="#pagedViewOptionH" data-submittarget="#thisform" data-paginationoptionupdatetarget="#paginationOptionH" data-paginationoptionupdatevalue="LoadMore" @(Model.Query.PagedViewOption==PagedViewOptions.Tiles ? "checked": "")>
            <label class="btn btn-outline-primary" for="btnradio-Tiles" title="Tiles" aria-label="Tiles"><i class="fa-solid fa-grip"></i></label>
            <input type="radio" class="btn-check radio-pagedviewoption-submit" name="btnradio" id="btnradio-SlideShow" autocomplete="off" data-value="SlideShow" data-updatetarget="#pagedViewOptionH" data-submittarget="#thisform" data-paginationoptionupdatetarget="#paginationOptionH" data-paginationoptionupdatevalue="NoPagination" @(Model.Query.PagedViewOption==PagedViewOptions.SlideShow ? "checked": "")>
            <label class="btn btn-outline-primary" for="btnradio-SlideShow" title="SlideShow" aria-label="SlideShow"><i class="fa-solid fa-circle-play"></i></label>
        </div>
        <div class="btn-group float-end mt-1 ms-3 me-3">
            <select asp-for="Query.PageSize" asp-items="ViewBag.PageSizeList" role="button" class="form-control form-select selectchange-submit" data-updatetarget="#pageSizeH" data-submittarget="#thisform"></select>
            <select asp-for="Query.OrderBys" asp-items="ViewBag.OrderByList" role="button" class="form-control form-select selectchange-submit" data-updatetarget="#orderByH" data-submittarget="#thisform"></select>
        </div>
        <div class="btn-group float-end mt-1">
            <a asp-area="" asp-controller="ElmahHost" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Create_New")">
                <span class="fa fa-plus"></span>
                @localizor.Get("Create")
            </a>
        </div>
    </div>
    <div class="card-body list-container-submit row m-0 p-0" data-updatetarget="#pageIndexH" data-submittarget="#thisform">
        @await Html.PartialAsync("~/Views/ElmahHost/_List.cshtml", Model.Result)
    </div>
</div>
<partial name="~/Views/Shared/_CRUDActionDialog.cshtml" />
