@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@model PagedResponse<ElmahUserModel[]>
@inject IUIStrings localizor;
<table id="masterList" class="table table-hover table-bordered table-striped">
    <thead>
        <tr class="pt-0 pb-0">
            <th class="p-0"></th>
            <th class="pt-0 pb-0">@localizor.Get("User")</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Status == System.Net.HttpStatusCode.OK && Model.ResponseBody != null)
        {
            for (var i = 0; i < Model.ResponseBody.Length; i++)
            {
                <tr class="pt-0 pb-0">
                    <td class="p-0">
                        <div class="btn-group">
                            <a asp-area="" asp-controller="ElmahUser" asp-action="Dashboard" asp-route-user="@Model.ResponseBody[i].User" class="btn btn-secondary" role="button" title="@localizor.Get("Dashboard")">
                                <i class="fa fa-briefcase"></i>
                            </a>
                            <a asp-area="" asp-controller="ElmahUser" asp-action="Edit" asp-route-user="@Model.ResponseBody[i].User" class="btn btn-secondary" role="button" title="@localizor.Get("Edit")">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a asp-area="" asp-controller="ElmahUser" asp-action="Delete" asp-route-user="@Model.ResponseBody[i].User" class="btn btn-secondary" role="button" title="@localizor.Get("Delete")">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                    <td class="pt-0 pb-0">@Model.ResponseBody[i].User</td>
                </tr>
            }
        }
        else if (Model != null)
        {
            <tr>
                <td colspan="50">
                    <div class="text-danger">@Model.StatusMessage</div>
                </td>
            </tr>
        }
    </tbody>
</table>
