@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@using Elmah.MvcWebApp.Models;
@model PagedViewModel<MvcListSetting, MvcListFeatures, ElmahUserModel[]>
@inject IUIStrings localizor;
@if (Model != null && Model.Result != null && Model.Result.Status == System.Net.HttpStatusCode.OK && Model.Result.ResponseBody != null)
{
    <!-- Carousel -->
    <div id="slideshow-elmahuser" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            @for (var i = 0; i < Model.Result.ResponseBody.Length; i++)
            {
                <button type="button" data-bs-target="#slideshow-elmahuser" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></button>
            }
        </div>
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            @for (var i = 0; i < Model.Result.ResponseBody.Length; i++)
            {
                <div class="carousel-item@(i == 0 ? " active" : "")">
                    <img src="images/Background@(i.ToString("d2")).png" alt="@Model.Result.ResponseBody[i].User" class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="card-title">@Model.Result.ResponseBody[i].User</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Model.Result.ResponseBody[i].User</h6>
                        <p class="card-text">@Model.Result.ResponseBody[i].User</p>
                        <a asp-area="" asp-controller="ElmahUser" asp-action="Dashboard" asp-route-user="@Model.Result.ResponseBody![i].User" title="@Model.Result.ResponseBody[i].User">
                             @Model.Result.ResponseBody[i].User
                        </a>
                    </div>
                </div>
            }
        </div>
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev text-black" type="button" data-bs-target="#slideshow-elmahuser" data-bs-slide="prev">
            <span class="carousel-control-prev-icon text-black"></span>
        </button>
        <button class="carousel-control-next text-black" type="button" data-bs-target="#slideshow-elmahuser" data-bs-slide="next">
            <span class="carousel-control-next-icon text-black"></span>
        </button>
    </div>
}
