@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@using Elmah.MvcWebApp.Models;
@model PagedResponse<ElmahUserModel[]>
@inject IUIStrings localizor;
@{
    ViewBag.Status = Model.Status;
    ViewBag.StatusMessage = Model.StatusMessage;
}
@if (Model != null && Model.Status == System.Net.HttpStatusCode.OK && Model.ResponseBody != null)
{
    @for (var i = 0; i < Model.ResponseBody.Length; i++)
    {
        @await Html.PartialAsync("~/Views/ElmahUser/_Tile.cshtml",
            new ItemViewModel<ElmahUserModel>
            {
                 Status = System.Net.HttpStatusCode.OK,
                 Model = Model.ResponseBody[i],
                 Template = Model.PagedViewOption.ToString(),
                 HtmlNamePrefix = "Model.ResponseBody",
                 HtmlNameUseArrayIndex = true,
                 IndexInArray = i,
                 IsCurrentItem = false
            })
    }
    <div class="d-flex align-items-stretch col-sm-12 col-md-6 col-lg-4 col-xl-3 p-1 nt-listitem nt-new" data-nt-route-id="">
        <div class="card nt-createnew-button-container w-100">
            <div class="card-body w-100 h-100 d-flex flex-column">
                <button type="button" class="btn btn-primary btn-nt-inline-editing w-100 h-100" title="@localizor.Get("Create_New")"
                    data-nt-action="@HttpMethods.Post"
                    data-nt-route-id=""
                    data-nt-container="@CrudViewContainers.Inline.ToString()"
                    data-nt-template="@ViewItemTemplateNames.Create.ToString()">
                    <i class="fa fa-plus"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Create_New")</span>
                </button>
            </div>
        </div>
    </div>
}
else if (Model != null)
{
    <div class="text-danger">@Model.StatusMessage</div>
}
@if (Model != null && Model.Pagination != null)
{
    @await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml", Model.Pagination)
}
