@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@model ElmahUserCompositeModel;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Dashboard");
}
<div class="row">
    <div class="col-12 col-md-8 nopadding">
        <ul class="nav nav-tabs" id="dashboardTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="lists-tab" data-bs-toggle="tab" data-bs-target="#lists" type="button" role="tab" aria-controls="lists" aria-selected="true"><i class="fa fa-list me-2"></i>@localizor.Get("Tab_Lists")</button>
            </li>
        </ul>
        <div class="tab-content" id="dashboardTabContent">
            <div class="tab-pane fade show active" id="lists" role="tabpanel" aria-labelledby="lists-tab">
                <div class="accordion" id="listsPanels">
                    @if (Model!.Responses.ContainsKey(ElmahUserCompositeModel.__DataOptions__.ElmahErrors_Via_User))
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-heading-elmahErrors_Via_User">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-elmahErrors_Via_User" aria-expanded="true" aria-controls="panelsStayOpen-elmahErrors_Via_User">
                                    @localizor.Get("Section_ElmahErrors_Via_User")
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-elmahErrors_Via_User" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading-elmahErrors_Via_User">
                                <div class="accordion-body p-0">
                                    @await Html.PartialAsync("~/Views/ElmahError/_Table.cshtml", new PagedResponse<ElmahErrorModel.DefaultView[]>{ ResponseBody = Model.ElmahErrors_Via_User, Status = Model.Responses[ElmahUserCompositeModel.__DataOptions__.ElmahErrors_Via_User].Status, StatusMessage= Model.Responses[ElmahUserCompositeModel.__DataOptions__.ElmahErrors_Via_User].StatusMessage })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <!-- ElmahUserCompositeModel.__DataOptions__.__Master__ -->
        <div class="card-group">
            <div class="card">
                <div class="card-header">
                    <h3 style="display: inline;">
                        @localizor.Get("ElmahUser")
                    </h3>
                </div>
                @if (Model!.Responses[ElmahUserCompositeModel.__DataOptions__.__Master__].Status == System.Net.HttpStatusCode.OK && Model!.__Master__ != null)
                { // Item
                    <div class="card-header">
                        <div class="btn-group">
                            @if (Model!.UIListSetting.GetUIItemFeatures().PrimayEditViewContainer == CrudViewContainers.StandaloneView)
                            {
                                <a asp-area="" asp-controller="ElmahUser" asp-action="Edit" asp-route-user="@Model?.__Master__.User" class="btn btn-default" role="button" title="@localizor.Get("Edit")">
                                    <i class="fa fa-edit"></i>
                                </a>
                            }
                            @if (Model!.UIListSetting.GetUIItemFeatures().PrimayEditViewContainer == CrudViewContainers.Dialog)
                            {
                                <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#crudActionDialog" title="@localizor.Get("Edit")"
                                    data-nt-action="@HttpMethods.Put"
                                    data-nt-container="@CrudViewContainers.Dialog.ToString()"
                                    data-nt-template="@ViewItemTemplateNames.Edit.ToString()">
                                    <i class="fa fa-edit"></i>
                                </button>
                            }
                            @if (Model!.UIListSetting.GetUIItemFeatures().PrimayDetailsViewContainer == CrudViewContainers.StandaloneView)
                            {
                                <a asp-area="" asp-controller="ElmahUser" asp-action="Details" asp-route-user="@Model?.__Master__.User" class="btn btn-default" role="button" title="@localizor.Get("Details")">
                                    <i class="fa fa-briefcase"></i>
                                </a>
                            }
                            @if (Model!.UIListSetting.GetUIItemFeatures().PrimayDetailsViewContainer == CrudViewContainers.Dialog)
                            {
                                <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#crudActionDialog" title="@localizor.Get("Details")"
                                    data-nt-action="@HttpMethods.Get"
                                    data-nt-container="@CrudViewContainers.Dialog.ToString()"
                                    data-nt-template="@ViewItemTemplateNames.Details.ToString()">
                                    <i class="fa fa-briefcase"></i>
                                </button>
                            }
                            @if (Model!.UIListSetting.GetUIItemFeatures().PrimayDeleteViewContainer == CrudViewContainers.StandaloneView)
                            {
                                <a asp-area="" asp-controller="ElmahUser" asp-action="Delete" asp-route-user="@Model?.__Master__.User" class="btn btn-default" role="button" title="@localizor.Get("Delete")">
                                    <i class="fa fa-trash"></i>
                                </a>
                            }
                            @if (Model!.UIListSetting.GetUIItemFeatures().PrimayDeleteViewContainer == CrudViewContainers.Dialog)
                            {
                                <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#crudActionDialog" title="@localizor.Get("Delete")"
                                    data-nt-action="@HttpMethods.Delete"
                                    data-nt-container="@CrudViewContainers.Dialog.ToString()"
                                    data-nt-template="@ViewItemTemplateNames.Delete.ToString()">
                                    <i class="fa fa-trash"></i>
                                </button>
                            }
                            <a asp-area="" asp-controller="ElmahUser" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("GotoSearch")">
                                <span class="fa fa-search"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="__Master__.User" class="control-label"></label>
                            <input asp-for="__Master__.User" class="form-control" readonly />
                        </div>
                    </div>
                    @*
                    <div class="card-footer">
                        <div class="btn-group">
                        </div>
                    </div>*@
                }
                else
                {
                    <div class="btn-group">
                        @if (Model!.UIListSetting == null || Model!.UIListSetting.CanGotoCreate(@CrudViewContainers.StandaloneView))
                        {
                            <a asp-area="" asp-controller="ElmahUser" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Create")">
                                <i class="fa fa-plus"></i>
                            </a>
                        }
                        @if (Model!.UIListSetting == null || Model!.UIListSetting.CanGotoCreate(@CrudViewContainers.Dialog))
                        {
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crudActionDialog" title="@localizor.Get("Create_New")"
                                data-nt-action="@HttpMethods.Post"
                                data-nt-route-id="@("_empty_")"
                                data-nt-container="@CrudViewContainers.Dialog.ToString()"
                                data-nt-template="@ViewItemTemplateNames.Create.ToString()">
                                <i class="fa fa-plus"></i>
                            </button>
                        }
                        <a asp-area="" asp-controller="ElmahUser" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("GotoSearch")">
                            <span class="fa fa-search"></span>
                        </a>
                    </div>
                    <div class="text-danger">@Model!.Responses[ElmahUserCompositeModel.__DataOptions__.__Master__]</div>
                    <div class="btn-group">
                    </div>
                }
            </div>
        </div>
        <!-- ElmahUserCompositeModel.__DataOptions__.__Master__ -->
    </div>
</div>
