@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@model ElmahUserCompositeModel;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Dashboard");
}
<div class="row">
    <div class="col-12 col-md-8 nopadding">
        <ul class="nav nav-tabs" id="dashboardTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="lists-tab" data-bs-toggle="tab" data-bs-target="#lists" type="button" role="tab" aria-controls="lists" aria-selected="true"><i class="fa fa-list me-2"></i></i>@localizor.Get("Tab_Lists")</button>
            </li>
        </ul>
        <div class="tab-content" id="dashboardTabContent">
            <div class="tab-pane fade show active" id="lists" role="tabpanel" aria-labelledby="lists-tab">
                <div class="accordion" id="listsPanels">
                    @if (Model!.Responses.ContainsKey(ElmahUserCompositeDataOptions.ElmahErrors))
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-heading-elmahErrors">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-elmahErrors" aria-expanded="true" aria-controls="panelsStayOpen-elmahErrors">
                                    @localizor.Get("Section_ElmahErrors")
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapse-elmahErrors" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading-elmahErrors">
                                <div class="accordion-body p-0">
                                    <div class="btn-group float-end">
                                        <a asp-area="" asp-controller="ElmahError" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Search")">
                                            <span class="fa fa-search"></span>
                                            @localizor.Get("Search")
                                        </a>
                                    </div>
                                    @await Html.PartialAsync("~/Views/ElmahError/_List.cshtml", new PagedResponse<ElmahErrorModel.DefaultView[]>{ ResponseBody = Model.ElmahErrors, Status = Model.Responses[ElmahUserCompositeDataOptions.ElmahErrors].Status, StatusMessage= Model.Responses[ElmahUserCompositeDataOptions.ElmahErrors].StatusMessage })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <!-- ElmahUserCompositeDataOptions.__Master__ -->
        <div class="card-group">
            <div class="card">
                <div class="card-header">
                    <h3 style="display: inline;">
                        @localizor.Get("ElmahUser")
                    </h3>
                </div>
                @if (Model!.Responses[ElmahUserCompositeDataOptions.__Master__].Status == System.Net.HttpStatusCode.OK && Model!.__Master__ != null)
                { // Item
                    <div class="card-header">
                        <div class="btn-group">
                            <a asp-area="" asp-controller="ElmahUser" asp-action="Edit" asp-route-user="@Model?.__Master__.User" class="btn btn-secondary" role="button" title="@localizor.Get("Edit")">
                                <span class="fa fa-edit"></span>
                            </a>
                            <a asp-area="" asp-controller="ElmahUser" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Create")">
                                <span class="fa fa-plus"></span>
                            </a>
                            @*<a asp-area="" asp-controller="ElmahUser" asp-action="Copy" asp-route-user="@Model?.__Master__.User" class="btn btn-secondary" role="button" title="@localizor.Get("Copy")">
                                <span class="fa fa-copy"></span>
                            </a>*@
                            <a asp-area="" asp-controller="ElmahUser" asp-action="Details" asp-route-user="@Model?.__Master__.User" class="btn btn-secondary" role="button" title="@localizor.Get("Details")">
                                <span class="fa fa-file"></span>
                            </a>
                            <a asp-area="" asp-controller="ElmahUser" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Search")">
                                <span class="fa fa-search"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="__Master__.User" class="control-label"></label>
                            <input asp-for="__Master__.User" class="form-control" readonly />
                        </div>
                    </div>
                    @*
                    <div class="card-footer">
                        <div class="btn-group">
                        </div>
                    </div>*@
                }
                else
                {
                    <div class="btn-group">
                        <a asp-area="" asp-controller="ElmahUser" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Create")">
                            <span class="fa fa-plus"></span>
                        </a>
                        <a asp-area="" asp-controller="ElmahUser" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Search")">
                            <span class="fa fa-search"></span>
                        </a>
                    </div>
                    <div class="text-danger">@Model!.Responses[ElmahUserCompositeDataOptions.__Master__]</div>
                    <div class="btn-group">
                    </div>
                }
            </div>
        </div>
        <!-- ElmahUserCompositeDataOptions.__Master__ -->
    </div>
</div>
