@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@model PagedSearchViewModel<ElmahUserAdvancedQuery, ElmahUserModel[]>
@inject IUIStrings localizor;
@{
    ViewData["Title"] = @localizor.Get("Search") + " " + localizor.Get("ElmahUser");
    var format_All = localizor.Get("Format_All");
}
<div class="row">
    <div class="col-12 col-sm-4 col-md-3 col-lg-3">
        <form asp-controller="ElmahUser" asp-action="Index" id="thisform" method="post">
            <div class="card">
                <div class="card-header p-0">
                    <button class="btn btn-secondary w-100" role="button" type="submit" title="@localizor.Get("Search")"`>
                        <i class="fa fa-search"></i>
                            @localizor.Get("Search")
                    </button>
                    <input type="hidden" asp-for="Query.PageIndex" id="pageIndexH" />
                    <input type="hidden" asp-for="Query.PageSize" id="pageSizeH" />
                    <input type="hidden" asp-for="Query.OrderBys" id="orderByH" />
                </div>
                <div class="card-body">
                    <div class="input-group m-0 p-0">
                        <select asp-for="Query.TextSearchType" asp-items="ViewBag.TextSearchTypeList" class="form-select input-group-text">
                        </select>
                        <input asp-for="Query.TextSearch" class="form-control" placeholder="@localizor.Get("Text Search")" aria-label="Search text in all text fields"/>
                    </div>
                    @*<div class="input-group m-0 p-0">
                        <select asp-for="Query.UserSearchType" asp-items="ViewBag.TextSearchTypeList" class="form-control form-select">
                        </select>
                        <input asp-for="Query.User" class="form-control"  aria-label="Search text in User field"/>
                    </div>*@
                </div>
                <div class="card-footer p-0">
                    <button class="btn btn-secondary w-100" role="button" type="submit" title="@localizor.Get("Search")"`>
                        <i class="fa fa-search"></i>
                            @localizor.Get("Search")
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 col-sm-8 col-md-9 col-lg-9 nopadding">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title float-start m-0" ><a class="nav-link text-dark" asp-area="" asp-controller="ElmahUser" asp-action="Index">@localizor.Get("ElmahUser")</a></h3>
                <div class="btn-group float-end mt-1">
                    <a asp-area="" asp-controller="ElmahUser" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Create_New")">
                        <span class="fa fa-plus"></span>
                    </a>
                    <a asp-area="" asp-controller="ElmahUser" asp-action="Index_Export" asp-route-dataServiceType="Csv" class="btn btn-secondary" role="button" title="@localizor.Get("ExportToCsv")" download>
                        <span class="fa fa-download"></span>
                    </a>
                    <a asp-area="" asp-controller="ElmahUser" asp-action="Index_Export" asp-route-dataServiceType="Excel2010" class="btn btn-secondary" role="button" title="@localizor.Get("ExportToExcel")" download>
                        <span class="fa fa-download"></span>
                    </a>
                    <a asp-area="" asp-controller="ElmahUser" asp-action="Import" class="btn btn-secondary" role="button" title="@localizor.Get("Import")">
                        <span class="fa fa-upload"></span>
                    </a>
                    <select asp-for="Query.PageSize" asp-items="ViewBag.PageSizeList" role="button" class="form-control form-select" id="pageSize"></select>
                    <select asp-for="Query.OrderBys" asp-items="ViewBag.OrderByList" role="button" class="form-control form-select" id="orderBy"></select>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <table id="masterList" class="table table-hover table-bordered table-striped">
                    <thead class="table-dark">
                        <tr class="pt-0 pb-0">
                            <th class="p-0"></th>
                            <th class="pt-0 pb-0">@localizor.Get("User")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Result.Status == System.Net.HttpStatusCode.OK && Model.Result.ResponseBody != null)
                        {
                            for (var i = 0; i < Model.Result.ResponseBody.Length; i++)
                            {
                                <tr class="pt-0 pb-0">
                                    <td class="p-0">
                                        <div class="btn-group">
                                            <a asp-area="" asp-controller="ElmahUser" asp-action="Dashboard" asp-route-user="@Model.Result.ResponseBody[i].User" class="btn btn-secondary" role="button" title="@localizor.Get("Dashboard")">
                                                <i class="fa fa-briefcase"></i>
                                            </a>
                                            <a asp-area="" asp-controller="ElmahUser" asp-action="Edit" asp-route-user="@Model.Result.ResponseBody[i].User" class="btn btn-secondary" role="button" title="@localizor.Get("Edit")">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a asp-area="" asp-controller="ElmahUser" asp-action="Delete" asp-route-user="@Model.Result.ResponseBody[i].User" class="btn btn-secondary" role="button" title="@localizor.Get("Delete")">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="pt-0 pb-0">@Model.Result.ResponseBody[i].User</td>
                                </tr>
                            }
                        }
                        else if (Model != null)
                        {
                            <tr>
                                <td colspan="50">
                                    <div class="text-danger">@Model.Result.StatusMessage</div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model != null && Model.Result != null && Model.Result.Pagination != null)
            {
                <div class="card-footer">
                    @await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml", Model.Result.Pagination)
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready($(function() {
        }));
    </script>
}
