@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models.Definitions;
@model MvcItemViewModel<ElmahSourceModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.ListSetting.ShowListBulkActionRelated(Model.ListFeatures))
{
    <td class="pt-0 pb-0 nt-list-bulk-select">
    </td>
}
@if (Model.ListSetting.ShowItemButtons(Model.ListFeatures))
{
    <td class="p-0">
    <div class="btn-group btn-group-nt-action-save">
        <button type="button" class="btn btn-secondary btn-nt-action-cancel" data-nt-action="@HttpMethods.Post">
            <i class="fa-solid fa-circle-xmark"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Cancel")</span>
        </button>
        <button type="button" class="btn btn-primary btn-nt-action" data-nt-action="@HttpMethods.Post"
            data-nt-container="@CrudViewContainers.Inline.ToString()"
            data-nt-template="@ViewItemTemplateNames.Create.ToString()">
            <i class="fa-solid fa-check-circle"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Save")</span>
        </button>
    </div>
    </td>
}
<td class="form-group p-0">
    <input asp-for="Model!.Source" class="form-control nt-form-data" data-nt-value="@Model!.Model!.Source" id="@Model!.HtmlId(nameof(ElmahSourceModel.Source))" name="@Model!.HtmlName(nameof(ElmahSourceModel.Source))"/>
    <span asp-validation-for="Model!.Source" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahSourceModel.Source))"></span>
</td>
@if (Model.ListSetting.ShowItemUIStatus(Model.ListFeatures))
{
    <td class="form-group p-0">
        <input asp-for="Model!.ItemUIStatus______" class="form-control" data-nt-value="@Model!.Model!.ItemUIStatus______" id="@Model!.HtmlId(nameof(ElmahSourceModel.ItemUIStatus______))" name="@Model!.HtmlName(nameof(ElmahSourceModel.ItemUIStatus______))" readonly />
    </td>
}
@if (Model.ListSetting.ShowEditableListDeleteSelect(Model.ListFeatures))
{
    <td class="pb-0 nt-editablelist-delete-select">
        <input asp-for="Model!.IsDeleted______" class="form-check-input nt-form-data ms-1" type="checkbox"  id="@Model!.HtmlId(nameof(ElmahSourceModel.IsDeleted______))" name="@Model!.HtmlName(nameof(ElmahSourceModel.IsDeleted______))">
    </td>
}
