@using Elmah.Models.Definitions;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahSourceModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Details");
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>@localizor.Get("Details")</h1>
                <h4>@localizor.Get("ElmahSource")</h4>
            </div>
            @if (Model.Status != System.Net.HttpStatusCode.OK)
            {
                <div class="card-body">
                    <div class="text-danger">@Model.StatusMessage</div>
                </div>
            }
            else
            {
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Source)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Source)
                        </dd>
                    </dl>
                </div>
            }
            <div class="card-footer">
                <div class="btn-group" role="group" aria-label="...">
                    <a asp-area="" asp-controller="ElmahSource" asp-action="Details" asp-route-source="@Model?.Source" class="btn btn-secondary" role="button" title="@localizor.Get("Refresh")">
                        <i class="fa-solid fa-refresh"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Refresh")</span>
                    </a>
                    <a asp-area="" asp-controller="ElmahSource" asp-action="Edit" asp-route-source="@Model?.Source" class="btn btn-secondary" role="button" title="@localizor.Get("Edit")">
                        <i class="fa fa-edit"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Edit")</span>
                    </a>
                    <a asp-area="" asp-controller="ElmahSource" asp-action="Delete" asp-route-source="@Model?.Source" class="btn btn-danger" role="button" title="@localizor.Get("Delete")">
                        <i class="fa fa-trash"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Delete")</span>
                    </a>
                    <a asp-area="" asp-controller="ElmahSource" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Back_to_List")">
                        <i class="fa-solid fa-arrow-left"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Back_to_List")</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
