@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@model PagedSearchViewModel<ElmahSourceAdvancedQuery, ElmahSourceModel[]>
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Index");
    var format_All = localizor.Get("Format_All");
}
<h1>@localizor.Get("Index")</h1>
<div class="row">
    <div class="col-12 col-sm-4 col-md-3 col-lg-3">
        <form asp-controller="ElmahSource" asp-action="Index" id="thisform" method="post">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title" style="padding-top:7.5px;display:inline;">@localizor.Get("Search")</h3>
                    <div class="float-right">
                        <button class="btn btn-secondary" role="button" type="submit" title="@localizor.Get("Search")"`>
                            <span class="fa fa-search"></span>
                        </button>
                        <input type="hidden" asp-for="Query.PageIndex" id="pageIndexH" />
                        <input type="hidden" asp-for="Query.PageSize" id="pageSizeH" />
                        <input type="hidden" asp-for="Query.OrderBys" id="orderByH" />
                    </div>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <button class="btn btn-secondary" role="button" type="submit" title="@localizor.Get("Search")">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 col-sm-8 col-md-9 col-lg-9 nopadding">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" style="padding-top:7.5px;display:inline;"><a class="nav-link text-dark" asp-area="" asp-controller="ElmahSource" asp-action="Index">@localizor.Get("ElmahSource")</a></h3>
                <div class="float-right row">
                    <div class="btn-group">
                        <a asp-area="" asp-controller="ElmahSource" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Create_New")">
                            <span class="fa fa-plus"></span>
                        </a>
                        <a asp-area="" asp-controller="ElmahSource" asp-action="Index_Export" asp-route-dataServiceType="Csv" class="btn btn-secondary" role="button" title="@localizor.Get("ExportToCsv")" download>
                            <span class="fa fa-download"></span>
                        </a>
                        <a asp-area="" asp-controller="ElmahSource" asp-action="Index_Export" asp-route-dataServiceType="Excel2010" class="btn btn-secondary" role="button" title="@localizor.Get("ExportToExcel")" download>
                            <span class="fa fa-download"></span>
                        </a>
                        <a asp-area="" asp-controller="ElmahSource" asp-action="Import" class="btn btn-secondary" role="button" title="@localizor.Get("Import")">
                            <span class="fa fa-upload"></span>
                        </a>
                        <select asp-for="Query.PageSize" asp-items="ViewBag.PageSizeList" role="button" class="form-control form-select" id="pageSize"></select>
                        <select asp-for="Query.OrderBys" asp-items="ViewBag.OrderByList" role="button" class="form-control form-select" id="orderBy"></select>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table id="masterList" class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr class="pt-0 pb-0">
                            <th class="p-0"></th>
                            <th class="pt-0 pb-0">@localizor.Get("Source")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Result.Status == System.Net.HttpStatusCode.OK && Model.Result.ResponseBody != null)
                        {
                            for (var i = 0; i < Model.Result.ResponseBody.Length; i++)
                            {
                                <tr class="pt-0 pb-0">
                                    <td class="p-0">
                                        <div class="btn-group">
                                            <a asp-area="" asp-controller="ElmahSource" asp-action="Dashboard" System.Linq.Enumerable+WhereSelectListIterator`2[nTierCraft.CodeGen.Contexts.PropertyContext,System.String] class="btn btn-secondary" role="button" title="@localizor.Get("FullDetails")">
                                                <span class="fa fa-briefcase"></span>
                                            </a>
                                            <a asp-area="" asp-controller="ElmahSource" asp-action="Edit" System.Linq.Enumerable+WhereSelectListIterator`2[nTierCraft.CodeGen.Contexts.PropertyContext,System.String] class="btn btn-secondary" role="button" title="@localizor.Get("Edit")">
                                                <span class="fa fa-edit"></span>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="pt-0 pb-0">@Model.Result.ResponseBody[i].Source</td>
                                </tr>
                            }
                        }
                        else if (Model != null)
                        {
                            <tr>
                                <td colspan="50">
                                    <div class="text-danger">@Model.Result.StatusMessage</div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (Model != null && Model.Result != null && Model.Result.Pagination != null)
            {
                <div class="card-footer">
                    @await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml", Model.Result.Pagination)
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready($(function() {
        }));
    </script>
}
