@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model Elmah.MvcWebApp.Models.ItemViewModel<Elmah.Models.ElmahErrorModel.DefaultView>
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model!.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model!.StatusMessage</div>
    </div>
}
else
{
    <input class="nt-hidden-modal-title" value="@Model!.Model!.Application" type="hidden" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model!.Model!.ErrorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model!.Model!.ErrorId)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model!.Model!.Application)
        </dt>
        <dd class="col-sm-10">
            <a asp-area="" asp-controller="ElmahApplication" asp-action="Dashboard" asp-route-application="@Model.Model.Application">@Model.Model.Application_Name</a>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model!.Model!.Host)
        </dt>
        <dd class="col-sm-10">
            <a asp-area="" asp-controller="ElmahHost" asp-action="Dashboard" asp-route-host="@Model.Model.Host">@Model.Model.Host_Name</a>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model!.Model!.Type)
        </dt>
        <dd class="col-sm-10">
            <a asp-area="" asp-controller="ElmahType" asp-action="Dashboard" asp-route-type="@Model.Model.Type">@Model.Model.Type_Name</a>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model!.Model!.Source)
        </dt>
        <dd class="col-sm-10">
            <a asp-area="" asp-controller="ElmahSource" asp-action="Dashboard" asp-route-source="@Model.Model.Source">@Model.Model.Source_Name</a>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model!.Model!.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model!.Model!.Message)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model!.Model!.User)
        </dt>
        <dd class="col-sm-10">
            <a asp-area="" asp-controller="ElmahUser" asp-action="Dashboard" asp-route-user="@Model.Model.User">@Model.Model.User_Name</a>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model!.Model!.StatusCode)
        </dt>
        <dd class="col-sm-10">
            <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Dashboard" asp-route-statuscode="@Model.Model.StatusCode">@Model.Model.StatusCode_Name</a>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model!.Model!.TimeUtc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model!.Model!.TimeUtc)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model!.Model!.Sequence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model!.Model!.Sequence)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model!.Model!.AllXml)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model!.Model!.AllXml)
        </dd>
    </dl>
}