@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model ItemViewModel<ElmahErrorModel.DefaultView>
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
<td class="pt-0 pb-0 nt-list-bulk-select"></td>
<td class="p-0">
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-primary" role="button" type="submit">
                            <i class="fa-solid fa-check-circle"></i>
                        </button>
                        <a asp-area="" asp-controller="ElmahError" asp-action="Edit" asp-route-errorid="@Model.Model!.ErrorId" class="btn btn-secondary" role="button" title="@localizor.Get("Refresh")">
                            <i class="fa-solid fa-refresh"></i>
                        </a>
                        <a asp-area="" asp-controller="ElmahError" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Back_to_List")">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                    </div>
</td>
<td class="form-group pt-0 pb-0">
    <input asp-for="Model!.ErrorId" class="form-control" />
    <span asp-validation-for="Model!.ErrorId" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <select asp-for="Model!.Application" class="form-control form-select" asp-items="ViewBag.ApplicationList" >
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahApplication"))</option>
    </select>
    <span asp-validation-for="Model!.Application" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <select asp-for="Model!.Host" class="form-control form-select" asp-items="ViewBag.HostList" >
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahHost"))</option>
    </select>
    <span asp-validation-for="Model!.Host" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <select asp-for="Model!.Type" class="form-control form-select" asp-items="ViewBag.TypeList" >
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahType"))</option>
    </select>
    <span asp-validation-for="Model!.Type" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <select asp-for="Model!.Source" class="form-control form-select" asp-items="ViewBag.SourceList" >
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahSource"))</option>
    </select>
    <span asp-validation-for="Model!.Source" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <input asp-for="Model!.Message" class="form-control" />
    <span asp-validation-for="Model!.Message" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <select asp-for="Model!.User" class="form-control form-select" asp-items="ViewBag.UserList" >
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahUser"))</option>
    </select>
    <span asp-validation-for="Model!.User" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <select asp-for="Model!.StatusCode" class="form-control form-select" asp-items="ViewBag.StatusCodeList" >
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahStatusCode"))</option>
    </select>
    <span asp-validation-for="Model!.StatusCode" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <input asp-for="Model!.TimeUtc" class="form-control" />
    <span asp-validation-for="Model!.TimeUtc" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <input asp-for="Model!.Sequence" class="form-control" />
    <span asp-validation-for="Model!.Sequence" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <input asp-for="Model!.AllXml" class="form-control" />
    <span asp-validation-for="Model!.AllXml" class="text-danger"></span>
</td>
