@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model ElmahErrorModel.DefaultView
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
<td class="pt-0 pb-0 nt-list-batchselect"></td>
<td class="p-0">
    <div class="btn-group btn-group-nt-action-save">
        <button type="button" class="btn btn-secondary btn-nt-action-cancel" data-nt-action="@HttpMethods.Put">
            <i class="fa-solid fa-circle-xmark"></i>
        </button>
        <button type="button" class="btn btn-primary btn-nt-action" data-nt-action="@HttpMethods.Put"
                data-nt-container="@CrudViewContainers.Inline.ToString()"
                data-nt-template="@ViewItemTemplateNames.Edit.ToString()">
            <i class="fa-solid fa-check-circle"></i>
        </button>
    </div>
</td>
<td class="pt-0 pb-0">
    <input asp-for="ErrorId" class="form-control" />
    <span asp-validation-for="ErrorId" class="text-danger"></span>
</td>
<td class="pt-0 pb-0">
    <select asp-for="Application" class="form-control form-select" asp-items="ViewBag.ApplicationList">
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahApplication"))</option>
    </select>
    <span asp-validation-for="Application" class="text-danger"></span>
</td>
<td class="pt-0 pb-0">
    <select asp-for="Host" class="form-control form-select" asp-items="ViewBag.HostList">
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahHost"))</option>
    </select>
    <span asp-validation-for="Host" class="text-danger"></span>
</td>
<td class="pt-0 pb-0">
    <select asp-for="Type" class="form-control form-select" asp-items="ViewBag.TypeList">
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahType"))</option>
    </select>
    <span asp-validation-for="Type" class="text-danger"></span>
</td>
<td class="pt-0 pb-0">
    <select asp-for="Source" class="form-control form-select" asp-items="ViewBag.SourceList">
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahSource"))</option>
    </select>
    <span asp-validation-for="Source" class="text-danger"></span>
</td>
<td class="pt-0 pb-0">
    <input asp-for="Message" class="form-control" />
    <span asp-validation-for="Message" class="text-danger"></span>
</td>
<td class="pt-0 pb-0">
    <select asp-for="User" class="form-control form-select" asp-items="ViewBag.UserList">
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahUser"))</option>
    </select>
    <span asp-validation-for="User" class="text-danger"></span>
</td>
<td class="pt-0 pb-0">
    <select asp-for="StatusCode" class="form-control form-select" asp-items="ViewBag.StatusCodeList">
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahStatusCode"))</option>
    </select>
    <span asp-validation-for="StatusCode" class="text-danger"></span>
</td>
<td class="pt-0 pb-0">
    <input asp-for="TimeUtc" class="form-control" />
    <span asp-validation-for="TimeUtc" class="text-danger"></span>
</td>
<td class="pt-0 pb-0">
    <input asp-for="Sequence" class="form-control" />
    <span asp-validation-for="Sequence" class="text-danger"></span>
</td>
<td class="pt-0 pb-0">
    <input asp-for="AllXml" class="form-control" />
    <span asp-validation-for="AllXml" class="text-danger"></span>
</td>
