@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model Elmah.MvcWebApp.Models.ItemViewModel<Elmah.Models.ElmahErrorModel.DefaultView>
@inject IUIStrings localizor;
<td class="pt-0 pb-0 nt-list-bulk-select">
    <input class="form-check-input ms-1" type="checkbox" value="" @(Model.BulkSelected ? "checked" : "")>
</td>
<td class="p-0">
    <div class="btn-group btn-group-nt-actions">
        <a asp-area="" asp-controller="ElmahError" asp-action="Details" asp-route-errorid="@Model.Model!.ErrorId" class="btn btn-light" role="button" title="@localizor.Get("Details")">
            <i class="fa fa-briefcase"></i>
        </a>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#crudActionDialog" data-nt-action="@HttpMethods.Put" title="@localizor.Get("Details")"
                data-nt-container="@CrudViewContainers.Dialog.ToString()"
                data-nt-template="@ViewItemTemplateNames.Details.ToString()">
            <i class="fa fa-briefcase"></i>
        </button>
        <a asp-area="" asp-controller="ElmahError" asp-action="Edit" asp-route-errorid="@Model.Model!.ErrorId" class="btn btn-secondary" role="button" title="@localizor.Get("Edit")">
            <i class="fa fa-edit"></i>
        </a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crudActionDialog" data-nt-action="@HttpMethods.Put" title="@localizor.Get("Edit")"
                data-nt-container="@CrudViewContainers.Dialog.ToString()"
                data-nt-template="@ViewItemTemplateNames.Edit.ToString()">
            <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="btn btn-primary btn-nt-inline-editing" data-nt-action="@HttpMethods.Put" title="@localizor.Get("Edit")"
                data-nt-container="@CrudViewContainers.Inline.ToString()"
                data-nt-template="@ViewItemTemplateNames.Edit.ToString()">
            <i class="fa fa-edit"></i>
        </button>
        <a asp-area="" asp-controller="ElmahError" asp-action="Delete" asp-route-errorid="@Model.Model!.ErrorId" class="btn btn-danger" role="button" title="@localizor.Get("Delete")">
            <i class="fa fa-trash"></i>
        </a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crudActionDialog" data-nt-action="@HttpMethods.Delete" title="@localizor.Get("Delete")"
                data-nt-container="@CrudViewContainers.Dialog.ToString()"
                data-nt-template="@ViewItemTemplateNames.Delete.ToString()">
            <i class="fa fa-trash"></i>
        </button>
        <button type="button" class="btn btn-primary btn-nt-inline-editing" data-nt-action="@HttpMethods.Delete" title="@localizor.Get("Delete")"
                data-nt-container="@CrudViewContainers.Inline.ToString()"
                data-nt-template="@ViewItemTemplateNames.Delete.ToString()">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</td>
<td class="pt-0 pb-0">@Model.Model!.ErrorId</td>
<td class="pt-0 pb-0 nt-quick-bulk-select" data-nt-filter-Application="@Model.Model!.Application"><a asp-area="" asp-controller="ElmahApplication" asp-action="Dashboard" asp-route-application="@Model.Model!.Application">@Model.Model!.Application_Name</a></td>
<td class="pt-0 pb-0"><a asp-area="" asp-controller="ElmahHost" asp-action="Dashboard" asp-route-host="@Model.Model!.Host">@Model.Model!.Host_Name</a></td>
<td class="pt-0 pb-0"><a asp-area="" asp-controller="ElmahType" asp-action="Dashboard" asp-route-type="@Model.Model!.Type">@Model.Model!.Type_Name</a></td>
<td class="pt-0 pb-0"><a asp-area="" asp-controller="ElmahSource" asp-action="Dashboard" asp-route-source="@Model.Model!.Source">@Model.Model!.Source_Name</a></td>
<td class="pt-0 pb-0">@Model.Model!.Message</td>
<td class="pt-0 pb-0"><a asp-area="" asp-controller="ElmahUser" asp-action="Dashboard" asp-route-user="@Model.Model!.User">@Model.Model!.User_Name</a></td>
<td class="pt-0 pb-0"><a asp-area="" asp-controller="ElmahStatusCode" asp-action="Dashboard" asp-route-statuscode="@Model.Model!.StatusCode">@Model.Model!.StatusCode_Name</a></td>
<td class="pt-0 pb-0">@Model.Model!.TimeUtc</td>
<td class="pt-0 pb-0">@Model.Model!.Sequence</td>
<td class="pt-0 pb-0">@Model.Model!.AllXml</td>
