@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models.Definitions;
@model MvcItemViewModel<ElmahErrorModel.DefaultView>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
<td class="pt-0 pb-0 nt-list-bulk-select"></td>
<td class="p-0">
    <div class="btn-group btn-group-nt-action-save">
        <button type="button" class="btn btn-secondary btn-nt-action-cancel" data-nt-action="@HttpMethods.Post">
            <i class="fa-solid fa-circle-xmark"></i>
        </button>
        <button type="button" class="btn btn-primary btn-nt-action" data-nt-action="@HttpMethods.Put"
            data-nt-container="@CrudViewContainers.Inline.ToString()"
            data-nt-template="@ViewItemTemplateNames.Edit.ToString()">
            <i class="fa-solid fa-check-circle"></i>
        </button>
    </div>
</td>
<td class="form-group pt-0 pb-0">
    <input asp-for="Model!.ErrorId" class="form-control" />
    <span asp-validation-for="Model!.ErrorId" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <select asp-for="Model!.Application" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahApplication.ToString()])" >
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahApplication"))</option>
    </select>
    <span asp-validation-for="Model!.Application" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <select asp-for="Model!.Host" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahHost.ToString()])" >
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahHost"))</option>
    </select>
    <span asp-validation-for="Model!.Host" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <select asp-for="Model!.Type" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahType.ToString()])" >
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahType"))</option>
    </select>
    <span asp-validation-for="Model!.Type" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <select asp-for="Model!.Source" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahSource.ToString()])" >
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahSource"))</option>
    </select>
    <span asp-validation-for="Model!.Source" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <input asp-for="Model!.Message" class="form-control" />
    <span asp-validation-for="Model!.Message" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <select asp-for="Model!.User" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahUser.ToString()])" >
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahUser"))</option>
    </select>
    <span asp-validation-for="Model!.User" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <select asp-for="Model!.StatusCode" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahStatusCode.ToString()])" >
        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahStatusCode"))</option>
    </select>
    <span asp-validation-for="Model!.StatusCode" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <input asp-for="Model!.TimeUtc" class="form-control" />
    <span asp-validation-for="Model!.TimeUtc" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <input asp-for="Model!.Sequence" class="form-control" />
    <span asp-validation-for="Model!.Sequence" class="text-danger"></span>
</td>
<td class="form-group pt-0 pb-0">
    <input asp-for="Model!.AllXml" class="form-control" />
    <span asp-validation-for="Model!.AllXml" class="text-danger"></span>
</td>
