@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@using Elmah.MvcWebApp.Models;
@model PagedViewModel<MvcListSetting, MvcListFeatures, ElmahErrorModel.DefaultView[]>
@inject IUIStrings localizor;
<div class="table-responsive p-0">
    <form>
        <table class="table table-hover table-bordered table-striped">
            <thead class="table-dark">
                <tr class="pt-0 pb-0">
                    @if (Model.UISetting.ShowListBulkActionRelated(Model.UIFeatures))
                    {
                        <th class="p-0"></th>
                    }
                    @if (Model.UISetting.ShowItemButtons(Model.UIFeatures))
                    {
                        <th class="p-0"></th>
                    }
                    <th class="pt-0 pb-0">@localizor.Get("ErrorId")</th>
                    <th class="pt-0 pb-0">@localizor.Get("Application")</th>
                    <th class="pt-0 pb-0">@localizor.Get("Host")</th>
                    <th class="pt-0 pb-0">@localizor.Get("Type")</th>
                    <th class="pt-0 pb-0">@localizor.Get("Source")</th>
                    <th class="pt-0 pb-0">@localizor.Get("Message")</th>
                    <th class="pt-0 pb-0">@localizor.Get("User")</th>
                    <th class="pt-0 pb-0">@localizor.Get("StatusCode")</th>
                    <th class="pt-0 pb-0">@localizor.Get("TimeUtc")</th>
                    <th class="pt-0 pb-0">@localizor.Get("Sequence")</th>
                    <th class="pt-0 pb-0">@localizor.Get("AllXml")</th>
                    @if (Model.UISetting.ShowItemUIStatus(Model.UIFeatures))
                    {
                        <th class="p-0"></th>
                    }
                    @if (Model.UISetting.ShowEditableListDeleteSelect(Model.UIFeatures))
                    {
                        <th class="p-0"></th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Result != null && Model.Result.Status == System.Net.HttpStatusCode.OK && Model.Result.ResponseBody != null)
                {
                    for (var i = 0; i < Model.Result.ResponseBody.Length; i++)
                    {
                        @await Html.PartialAsync("~/Views/ElmahError/_ListItemTr.cshtml",
                            new MvcItemViewModel<ElmahErrorModel.DefaultView>
                            {
                            ListSetting = Model.UISetting,
                            ListFeatures = Model.UIFeatures,
                            Status = System.Net.HttpStatusCode.OK,
                            StatusMessage = Model.Result.StatusMessage,
                            Template = Model.UISetting.PagedViewOption != PagedViewOptions.EditableList ? ViewItemTemplateNames.Details.ToString() : ViewItemTemplateNames.Edit.ToString(),
                            IndexInArray = i,
                            Model = Model.Result.ResponseBody[i],
                            TopLevelDropDownListsFromDatabase = Model.TopLevelDropDownListsFromDatabase,
                            })
                    }
                }
                else if (Model != null && Model.Result != null)
                {
                    <tr>
                        <td colspan="50">
                            <div class="text-danger">@Model.Result.StatusMessage</div>
                        </td>
                    </tr>
                }
            </tbody>
            <!--only for inline editing-->
            <tfoot>
                <tr class="pt-0 pb-0 nt-listitem nt-new" data-nt-route-id="00000000-0000-0000-0000-000000000000">
                    <td class="nt-createnew-button-container" colspan="100">
                        <button type="button" class="btn btn-primary btn-nt-inline-editing w-100 h-100" title="@localizor.Get("Create_New")"
                                data-nt-action="@HttpMethods.Post"
                                data-nt-route-id="00000000-0000-0000-0000-000000000000"
                                data-nt-container="@CrudViewContainers.Inline.ToString()"
                                data-nt-template="@ViewItemTemplateNames.Create.ToString()">
                            <i class="fa fa-plus"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Create_New")</span>
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
    @if (Model != null && Model.Result != null && Model.Result.Pagination != null)
    {
        @await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml", Model.Result.Pagination)
    }
</div>
