@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahErrorModel.DefaultView>
@inject IUIStrings localizor;
@if (Model!.UIListSetting!.ShowListBulkActionRelated(true))
{
    <td class="pt-0 pb-0 nt-list-bulk-select" style="width: 1% !important;">
    </td>
}
@if (Model!.UIListSetting!.ShowItemButtons())
{
    <td class="p-0" style="width: 1% !important;">
    <div class="btn-group btn-group-nt-action-save">
        <button type="button" class="btn btn-secondary btn-nt-action-cancel" data-nt-action="@HttpMethods.Delete">
            <i class="fa-solid fa-circle-xmark"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Cancel")</span>
        </button>
        <button type="button" class="btn btn-primary btn-nt-action" data-nt-action="@HttpMethods.Delete"
            data-nt-container="@CrudViewContainers.Inline.ToString()"
            data-nt-template="@ViewItemTemplateNames.Delete.ToString()">
            <i class="fa-solid fa-check-circle"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Delete")</span>
        </button>
    </div>
    </td>
}
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.ErrorId)
</td>
<td class="pt-0 pb-0">
    <a asp-area="" asp-controller="ElmahApplication" asp-action="Dashboard" asp-route-application="@Model!.Model!.Application">@Model!.Model!.Application_Name</a>
</td>
<td class="pt-0 pb-0">
    <a asp-area="" asp-controller="ElmahHost" asp-action="Dashboard" asp-route-host="@Model!.Model!.Host">@Model!.Model!.Host_Name</a>
</td>
<td class="pt-0 pb-0">
    <a asp-area="" asp-controller="ElmahType" asp-action="Dashboard" asp-route-type="@Model!.Model!.Type">@Model!.Model!.Type_Name</a>
</td>
<td class="pt-0 pb-0">
    <a asp-area="" asp-controller="ElmahSource" asp-action="Dashboard" asp-route-source="@Model!.Model!.Source">@Model!.Model!.Source_Name</a>
</td>
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.Message)
</td>
<td class="pt-0 pb-0">
    <a asp-area="" asp-controller="ElmahUser" asp-action="Dashboard" asp-route-user="@Model!.Model!.User">@Model!.Model!.User_Name</a>
</td>
<td class="pt-0 pb-0">
    <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Dashboard" asp-route-statuscode="@Model!.Model!.StatusCode">@Model!.Model!.StatusCode_Name</a>
</td>
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.TimeUtc)
</td>
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.Sequence)
</td>
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.AllXml)
</td>
@if (Model!.UIListSetting!.ShowItemUIStatus())
{
    <td class="form-group nt-item-status text-center" style="width: 1% !important;">
        @if (Model!.Model!.ItemUIStatus______ == ItemUIStatus.NoChange)
        {
                <i class="fa-solid fa-circle-notch text-success"></i>
        }
        else if (Model!.Model!.ItemUIStatus______ == ItemUIStatus.Updated) // Usually: will be changed by JQuery
        {
                <i class="fa-solid fa-circle text-danger"></i>
        }
        else // ItemUIStatus.New
        {
                    <i class="fa-solid fa-circle text-danger"></i>
        }
        <input asp-for="Model!.ItemUIStatus______" class="form-control" data-nt-value="@Model!.Model!.ItemUIStatus______" id="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.ItemUIStatus______))" name="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.ItemUIStatus______))" type="hidden" />
    </td>
}
@if (Model!.UIListSetting!.ShowEditableListDeleteSelect())
{
    <td class="form-group nt-editablelist-delete-select text-center" style="width: 1% !important;">
        <input asp-for="Model!.IsDeleted______" class="form-check-input nt-form-check ms-1" type="checkbox"  id="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.IsDeleted______))" name="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.IsDeleted______))" data-nt-value="@Model!.Model!.IsDeleted______"/>
    </td>
}
