@using Elmah.Models.Definitions;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahErrorDataModel.DefaultView>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Create");
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>@localizor.Get("Create")</h1>
                <h4>@localizor.Get("ElmahError")</h4>
            </div>
            <form asp-action="Create">
                @if (Model.Status != System.Net.HttpStatusCode.OK)
                {
                    <div class="card-body">
                        <div class="text-danger">@Model.StatusMessage</div>
                    </div>
                }
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Model!.Application" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.Application))"></label>
                        <select asp-for="Model!.Application" class="form-control form-select nt-form-data" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahApplication.ToString()])"
                            data-nt-value="@Model!.Model!.Application" id="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.Application))"  name="@Model!.HtmlName(nameof(ElmahErrorDataModel.DefaultView.Application))">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Host" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.Host))"></label>
                        <select asp-for="Model!.Host" class="form-control form-select nt-form-data" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahHost.ToString()])"
                            data-nt-value="@Model!.Model!.Host" id="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.Host))"  name="@Model!.HtmlName(nameof(ElmahErrorDataModel.DefaultView.Host))">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Type" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.Type))"></label>
                        <select asp-for="Model!.Type" class="form-control form-select nt-form-data" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahType.ToString()])"
                            data-nt-value="@Model!.Model!.Type" id="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.Type))"  name="@Model!.HtmlName(nameof(ElmahErrorDataModel.DefaultView.Type))">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Source" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.Source))"></label>
                        <select asp-for="Model!.Source" class="form-control form-select nt-form-data" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahSource.ToString()])"
                            data-nt-value="@Model!.Model!.Source" id="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.Source))"  name="@Model!.HtmlName(nameof(ElmahErrorDataModel.DefaultView.Source))">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Message" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.Message))"></label>
                        <input asp-for="Model!.Message" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.Message))" name="@Model!.HtmlName(nameof(ElmahErrorDataModel.DefaultView.Message))" data-nt-value="@Model!.Model!.Message"/>
                        <span asp-validation-for="Model!.Message" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahErrorDataModel.DefaultView.Message))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.User" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.User))"></label>
                        <select asp-for="Model!.User" class="form-control form-select nt-form-data" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahUser.ToString()])"
                            data-nt-value="@Model!.Model!.User" id="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.User))"  name="@Model!.HtmlName(nameof(ElmahErrorDataModel.DefaultView.User))">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.StatusCode" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.StatusCode))"></label>
                        <select asp-for="Model!.StatusCode" class="form-control form-select nt-form-data" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahStatusCode.ToString()])"
                            data-nt-value="@Model!.Model!.StatusCode" id="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.StatusCode))"  name="@Model!.HtmlName(nameof(ElmahErrorDataModel.DefaultView.StatusCode))">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.TimeUtc" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.TimeUtc))"></label>
                        <input asp-for="Model!.TimeUtc" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.TimeUtc))" name="@Model!.HtmlName(nameof(ElmahErrorDataModel.DefaultView.TimeUtc))" data-nt-value="@Model!.Model!.TimeUtc"/>
                        <span asp-validation-for="Model!.TimeUtc" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahErrorDataModel.DefaultView.TimeUtc))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.AllXml" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.AllXml))"></label>
                        <input asp-for="Model!.AllXml" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ElmahErrorDataModel.DefaultView.AllXml))" name="@Model!.HtmlName(nameof(ElmahErrorDataModel.DefaultView.AllXml))" data-nt-value="@Model!.Model!.AllXml"/>
                        <span asp-validation-for="Model!.AllXml" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahErrorDataModel.DefaultView.AllXml))"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-primary" role="button" type="submit">
                            <i class="fa-solid fa-check-circle"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Create")</span>
                        </button>
                        <a asp-area="" asp-controller="ElmahError" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Reset")">
                            <i class="fa-solid fa-refresh"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Reset")</span>
                        </a>
                        <a asp-area="" asp-controller="ElmahError" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Back_to_List")">
                            <i class="fa-solid fa-arrow-left"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Back_to_List")</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
