@using Elmah.Models.Definitions;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahErrorModel.DefaultView>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Create");
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>@localizor.Get("Create")</h1>
                <h4>@localizor.Get("ElmahError")</h4>
            </div>
            <form asp-action="Create">
                @if (Model.Status != System.Net.HttpStatusCode.OK)
                {
                    <div class="card-body">
                        <div class="text-danger">@Model.StatusMessage</div>
                    </div>
                }
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Model!.ErrorId" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.ErrorId))"></label>
                        <input asp-for="Model!.ErrorId" class="form-control"  id="@Model.HtmlId(nameof(ElmahErrorModel.DefaultView.ErrorId))"  name="@Model.HtmlName(nameof(ElmahErrorModel.DefaultView.ErrorId))"/>
                        <span asp-validation-for="Model!.ErrorId" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.ErrorId))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Application" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.Application))"></label>
                        <select asp-for="Model!.Application" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahApplication.ToString()])"
                             id="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.Application))"  name="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.Application))">
                            <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahApplication"))</option>
                        </select>
                        <span asp-validation-for="Model!.Application" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.Application))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Host" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.Host))"></label>
                        <select asp-for="Model!.Host" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahHost.ToString()])"
                             id="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.Host))"  name="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.Host))">
                            <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahHost"))</option>
                        </select>
                        <span asp-validation-for="Model!.Host" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.Host))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Type" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.Type))"></label>
                        <select asp-for="Model!.Type" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahType.ToString()])"
                             id="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.Type))"  name="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.Type))">
                            <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahType"))</option>
                        </select>
                        <span asp-validation-for="Model!.Type" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.Type))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Source" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.Source))"></label>
                        <select asp-for="Model!.Source" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahSource.ToString()])"
                             id="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.Source))"  name="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.Source))">
                            <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahSource"))</option>
                        </select>
                        <span asp-validation-for="Model!.Source" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.Source))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Message" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.Message))"></label>
                        <input asp-for="Model!.Message" class="form-control"  id="@Model.HtmlId(nameof(ElmahErrorModel.DefaultView.Message))"  name="@Model.HtmlName(nameof(ElmahErrorModel.DefaultView.Message))"/>
                        <span asp-validation-for="Model!.Message" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.Message))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.User" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.User))"></label>
                        <select asp-for="Model!.User" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahUser.ToString()])"
                             id="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.User))"  name="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.User))">
                            <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahUser"))</option>
                        </select>
                        <span asp-validation-for="Model!.User" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.User))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.StatusCode" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.StatusCode))"></label>
                        <select asp-for="Model!.StatusCode" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahStatusCode.ToString()])"
                             id="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.StatusCode))"  name="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.StatusCode))">
                            <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahStatusCode"))</option>
                        </select>
                        <span asp-validation-for="Model!.StatusCode" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.StatusCode))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.TimeUtc" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.TimeUtc))"></label>
                        @Html.EditorFor(m=>m.Model!.TimeUtc, "MM/dd/yyyy", new { htmlAttributes = new { @title = localizor.Get("TimeUtc"), @class = "form-control", id=@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.TimeUtc)), name=@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.TimeUtc)) }})
                        <span asp-validation-for="Model!.TimeUtc" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.TimeUtc))"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.AllXml" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.AllXml))"></label>
                        <input asp-for="Model!.AllXml" class="form-control"  id="@Model.HtmlId(nameof(ElmahErrorModel.DefaultView.AllXml))"  name="@Model.HtmlName(nameof(ElmahErrorModel.DefaultView.AllXml))"/>
                        <span asp-validation-for="Model!.AllXml" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahErrorModel.DefaultView.AllXml))"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-primary" role="button" type="submit">
                            <i class="fa-solid fa-check-circle"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Create")</span>
                        </button>
                        <a asp-area="" asp-controller="ElmahError" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Reset")">
                            <i class="fa-solid fa-refresh"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Reset")</span>
                        </a>
                        <a asp-area="" asp-controller="ElmahError" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Back_to_List")">
                            <i class="fa-solid fa-arrow-left"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Back_to_List")</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
