@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@model ElmahErrorCompositeModel;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Dashboard");
}
<div class="row">
    <div class="col-12 col-md-8 nopadding">
        <ul class="nav nav-tabs" id="dashboardTabs" role="tablist">
        </ul>
        <div class="tab-content" id="dashboardTabContent">
        </div>
    </div>
    <div class="col-12 col-md-4">
        <!-- ElmahErrorCompositeDataOptions.__Master__ -->
        <div class="card-group">
            <div class="card">
                <div class="card-header">
                    <h3 style="display: inline;">
                        @localizor.Get("ElmahError")
                    </h3>
                </div>
                @if (Model!.Responses[ElmahErrorCompositeDataOptions.__Master__].Status == System.Net.HttpStatusCode.OK && Model!.__Master__ != null)
                { // Item
                    <div class="card-header">
                        <div class="btn-group">
                            <a asp-area="" asp-controller="ElmahError" asp-action="Edit" asp-route-errorid="@Model?.__Master__.ErrorId" class="btn btn-secondary" role="button" title="@localizor.Get("Edit")">
                                <span class="fa fa-edit"></span>
                            </a>
                            <a asp-area="" asp-controller="ElmahError" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Create")">
                                <span class="fa fa-plus"></span>
                            </a>
                            @*<a asp-area="" asp-controller="ElmahError" asp-action="Copy" asp-route-errorid="@Model?.__Master__.ErrorId" class="btn btn-secondary" role="button" title="@localizor.Get("Copy")">
                                <span class="fa fa-copy"></span>
                            </a>*@
                            <a asp-area="" asp-controller="ElmahError" asp-action="Details" asp-route-errorid="@Model?.__Master__.ErrorId" class="btn btn-secondary" role="button" title="@localizor.Get("Details")">
                                <span class="fa fa-file"></span>
                            </a>
                            <a asp-area="" asp-controller="ElmahError" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Search")">
                                <span class="fa fa-search"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="__Master__.ErrorId" class="control-label"></label>
                            <input asp-for="__Master__.ErrorId" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="__Master__.Application" class="control-label"></label>
                            <a asp-area="" asp-controller="ElmahApplication" asp-action="Dashboard" asp-route-application="@Model?.__Master__.Application" class="form-control">@Model?.__Master__.Application_Name</a>
                        </div>
                        <div class="form-group">
                            <label asp-for="__Master__.Host" class="control-label"></label>
                            <a asp-area="" asp-controller="ElmahHost" asp-action="Dashboard" asp-route-host="@Model?.__Master__.Host" class="form-control">@Model?.__Master__.Host_Name</a>
                        </div>
                        <div class="form-group">
                            <label asp-for="__Master__.Type" class="control-label"></label>
                            <a asp-area="" asp-controller="ElmahType" asp-action="Dashboard" asp-route-type="@Model?.__Master__.Type" class="form-control">@Model?.__Master__.Type_Name</a>
                        </div>
                        <div class="form-group">
                            <label asp-for="__Master__.Source" class="control-label"></label>
                            <a asp-area="" asp-controller="ElmahSource" asp-action="Dashboard" asp-route-source="@Model?.__Master__.Source" class="form-control">@Model?.__Master__.Source_Name</a>
                        </div>
                        <div class="form-group">
                            <label asp-for="__Master__.Message" class="control-label"></label>
                            <input asp-for="__Master__.Message" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="__Master__.User" class="control-label"></label>
                            <a asp-area="" asp-controller="ElmahUser" asp-action="Dashboard" asp-route-user="@Model?.__Master__.User" class="form-control">@Model?.__Master__.User_Name</a>
                        </div>
                        <div class="form-group">
                            <label asp-for="__Master__.StatusCode" class="control-label"></label>
                            <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Dashboard" asp-route-statuscode="@Model?.__Master__.StatusCode" class="form-control">@Model?.__Master__.StatusCode_Name</a>
                        </div>
                        <div class="form-group">
                            <label asp-for="__Master__.TimeUtc" class="control-label"></label>
                            <input asp-for="__Master__.TimeUtc" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="__Master__.Sequence" class="control-label"></label>
                            <input asp-for="__Master__.Sequence" class="form-control" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="__Master__.AllXml" class="control-label"></label>
                            <input asp-for="__Master__.AllXml" class="form-control" readonly />
                        </div>
                    </div>
                    @*
                    <div class="card-footer">
                        <div class="btn-group">
                        </div>
                    </div>*@
                }
                else
                {
                    <div class="btn-group">
                        <a asp-area="" asp-controller="ElmahError" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Create")">
                            <span class="fa fa-plus"></span>
                        </a>
                        <a asp-area="" asp-controller="ElmahError" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Search")">
                            <span class="fa fa-search"></span>
                        </a>
                    </div>
                    <div class="text-danger">@Model!.Responses[ElmahErrorCompositeDataOptions.__Master__]</div>
                    <div class="btn-group">
                    </div>
                }
            </div>
        </div>
        <!-- ElmahErrorCompositeDataOptions.__Master__ -->
    </div>
</div>
