@using Framework.Models;
@using Elmah.Models.Definitions;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahErrorModel.DefaultView>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Details");
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1>@localizor.Get("Details")</h1>
                <h4>@localizor.Get("ElmahError")</h4>
            </div>
            @if (Model.Status != System.Net.HttpStatusCode.OK)
            {
                <div class="card-body">
                    <div class="text-danger">@Model.StatusMessage</div>
                </div>
            }
            else
            {
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Model!.ErrorId" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.ErrorId))"></label>
                        @Html.DisplayFor(m=>m.Model!.ErrorId)
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Application" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.Application))"></label>
                        <a asp-area="" asp-controller="ElmahApplication" asp-action="Dashboard" asp-route-application="@Model!.Model!.Application">@Model!.Model!.Application_Name</a>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Host" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.Host))"></label>
                        <a asp-area="" asp-controller="ElmahHost" asp-action="Dashboard" asp-route-host="@Model!.Model!.Host">@Model!.Model!.Host_Name</a>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Type" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.Type))"></label>
                        <a asp-area="" asp-controller="ElmahType" asp-action="Dashboard" asp-route-type="@Model!.Model!.Type">@Model!.Model!.Type_Name</a>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Source" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.Source))"></label>
                        <a asp-area="" asp-controller="ElmahSource" asp-action="Dashboard" asp-route-source="@Model!.Model!.Source">@Model!.Model!.Source_Name</a>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Message" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.Message))"></label>
                        @Html.DisplayFor(m=>m.Model!.Message)
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.User" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.User))"></label>
                        <a asp-area="" asp-controller="ElmahUser" asp-action="Dashboard" asp-route-user="@Model!.Model!.User">@Model!.Model!.User_Name</a>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.StatusCode" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.StatusCode))"></label>
                        <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Dashboard" asp-route-statuscode="@Model!.Model!.StatusCode">@Model!.Model!.StatusCode_Name</a>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.TimeUtc" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.TimeUtc))"></label>
                        @Html.DisplayFor(m=>m.Model!.TimeUtc)
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.Sequence" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.Sequence))"></label>
                        @Html.DisplayFor(m=>m.Model!.Sequence)
                    </div>
                    <div class="form-group">
                        <label asp-for="Model!.AllXml" class="control-label" for="@Model!.HtmlId(nameof(ElmahErrorModel.DefaultView.AllXml))"></label>
                        @Html.DisplayFor(m=>m.Model!.AllXml)
                    </div>
                </div>
            }
            <div class="card-footer">
                <div class="btn-group" role="group" aria-label="...">
                    <a asp-area="" asp-controller="ElmahError" asp-action="Details" asp-route-errorid="@Model!.Model!.ErrorId" class="btn btn-secondary" role="button" title="@localizor.Get("Refresh")">
                        <i class="fa-solid fa-refresh"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Refresh")</span>
                    </a>
                    @if (Model!.UIItemFeatures.PrimayEditViewContainer == CrudViewContainers.StandaloneView)
                    {
                        <a asp-area="" asp-controller="ElmahError" asp-action="Edit" asp-route-errorid="@Model!.Model!.ErrorId" class="btn btn-default" role="button" title="@localizor.Get("Edit")">
                            <i class="fa fa-edit"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Edit")</span>
                        </a>
                    }
                    @if (Model!.UIItemFeatures.PrimayDeleteViewContainer == CrudViewContainers.StandaloneView)
                    {
                        <a asp-area="" asp-controller="ElmahError" asp-action="Delete" asp-route-errorid="@Model!.Model!.ErrorId" class="btn btn-default" role="button" title="@localizor.Get("Delete")">
                            <i class="fa fa-trash"></i><span class="nt-submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Delete")</span>
                        </a>
                    }
                    <a asp-area="" asp-controller="ElmahError" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Back_to_List")">
                        <i class="fa-solid fa-arrow-left"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Back_to_List")</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
