@using Elmah.Models;
@using Elmah.Resx;
@model ElmahErrorModel.DefaultView
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Edit");
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
<h1>@localizor.Get("Edit")</h1>
<h4>@localizor.Get("ElmahError")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ErrorId" class="control-label"></label>
                    <input asp-for="ErrorId" class="form-control" />
                    <span asp-validation-for="ErrorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Application" class="control-label"></label>
                        <select asp-for="Application" asp-items="ViewBag.ApplicationList" class="form-control form-select">
                        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahApplication"))</option>
                    </select>
                    <span asp-validation-for="Application" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Host" class="control-label"></label>
                        <select asp-for="Host" asp-items="ViewBag.HostList" class="form-control form-select">
                        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahHost"))</option>
                    </select>
                    <span asp-validation-for="Host" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                        <select asp-for="Type" asp-items="ViewBag.TypeList" class="form-control form-select">
                        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahType"))</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Source" class="control-label"></label>
                        <select asp-for="Source" asp-items="ViewBag.SourceList" class="form-control form-select">
                        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahSource"))</option>
                    </select>
                    <span asp-validation-for="Source" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Message" class="control-label"></label>
                    <input asp-for="Message" class="form-control" />
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User" class="control-label"></label>
                        <select asp-for="User" asp-items="ViewBag.UserList" class="form-control form-select">
                        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahUser"))</option>
                    </select>
                    <span asp-validation-for="User" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StatusCode" class="control-label"></label>
                        <select asp-for="StatusCode" asp-items="ViewBag.StatusCodeList" class="form-control form-select">
                        <option value="" selected>@string.Format(format_Please_Select, localizor.Get("ElmahStatusCode"))</option>
                    </select>
                    <span asp-validation-for="StatusCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TimeUtc" class="control-label"></label>
                    <input asp-for="TimeUtc" class="form-control" />
                    <span asp-validation-for="TimeUtc" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sequence" class="control-label"></label>
                    <input asp-for="Sequence" class="form-control" />
                    <span asp-validation-for="Sequence" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AllXml" class="control-label"></label>
                    <input asp-for="AllXml" class="form-control" />
                    <span asp-validation-for="AllXml" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="@localizor.Get("Save")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">@localizor.Get("Back_to_List")</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
