@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@using Elmah.Models.Definitions;
@using Elmah.MvcWebApp.Models;
@model PagedSearchViewModel<ElmahErrorAdvancedQuery, ElmahErrorModel.DefaultView[]>
@inject IHttpContextAccessor Accessor
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = @localizor.Get("Search") + " " + localizor.Get("ElmahError");
    var format_All = localizor.Get("Format_All");
    string currentView = string.Empty;
    if (Accessor.HttpContext != null)
    {
        currentView = Accessor.HttpContext.Request.Query["PagedViewOption"];
    }
    if (string.IsNullOrEmpty(currentView))
    {
        currentView = Model.UIListSetting.UIParams.PagedViewOption.ToString();
    }
}
<form id="@Model!.UIListSetting.UIListFeatures.SearchFormId" method="post" class="nt-ajax-partial-load-post-formdata"
    data-nt-partial-url="@Url.Action("AjaxLoadItems", "ElmahError")"
    data-nt-updatetarget="#@Model!.UIListSetting.UIListFeatures.ListWrapperId">
    <input type="hidden" asp-for="Query.PageIndex" class="nt-page-index" />
    <input type="hidden" asp-for="Query.PageSize" class="nt-page-size" />
    <input type="hidden" asp-for="Query.OrderBys" class="nt-order-by" />
    <input type="hidden" asp-for="Query.PaginationOption" class="nt-pagination-option-field" />
    <input type="hidden" asp-for="UIListSetting.UIParams.AdvancedQuery" id="advancedQueryH" class="nt-advanced-query" id="AdvancedQuery" name="AdvancedQuery" />
    <input type="hidden" asp-for="UIListSetting.UIParams.PagedViewOption" class="nt-paged-view-option-field" value="@currentView" id="PagedViewOption" name="PagedViewOption" />
    <input type="hidden" asp-for="UIListSetting.UIParams.Template" class="nt-template-field" id="Template" name="Template" />
    <div class="d-flex justify-content-between pt-1">
        <div>
            <span class="h5"><a class="nav-link text-dark" asp-area="" asp-controller="ElmahError" asp-action="Index">you are working on <strong>@localizor.Get("ElmahError")</strong></a></span>
        </div>
        <button class="btn btn-primary me-1 ms-1" role="button" type="submit" title="@localizor.Get("Search")">
            <i class="fa fa-search"></i>
            @localizor.Get("Search")
        </button>
    </div>
    <hr class="mt-1" />
    <div class="input-group">
        <select asp-for="Query.TextSearchType" asp-items="ViewBag.TextSearchTypeList" class="input-group-text text-start">
        </select>
        <input asp-for="Query.TextSearch" class="form-control" placeholder="@localizor.Get("SearchTextDescription")" aria-label="@localizor.Get("SearchTextDescription")" />
    </div>
    <div class="row pt-1">
        <div class="col-lg-6">
            <div class="input-group">
                <label class="input-group-text">@localizor.Get("TimeUtcRange")</label>
                <select asp-for="Query.TimeUtcRange" asp-items="ViewBag.TimeUtcRangeList" class="form-control form-select nt-datetime-predefinedrange"></select>
                <input asp-for="Query.TimeUtcRangeLower" class="form-control" readonly />
                <input asp-for="Query.TimeUtcRangeUpper" class="form-control" readonly />
            </div>
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="input-group">
                <label class="input-group-text">@localizor.Get("ElmahUser")</label>
                <select asp-for="Query.User" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahUser.ToString()])">
                    <option value="" selected>@string.Format(format_All, localizor.Get("ElmahUser"))</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="input-group">
                <label class="input-group-text">@localizor.Get("ElmahType")</label>
                <select asp-for="Query.Type" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahType.ToString()])">
                    <option value="" selected>@string.Format(format_All, localizor.Get("ElmahType"))</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="input-group">
                <label class="input-group-text">@localizor.Get("ElmahStatusCode")</label>
                <select asp-for="Query.StatusCode" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahStatusCode.ToString()])">
                    <option value="" selected>@string.Format(format_All, localizor.Get("ElmahStatusCode"))</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="input-group">
                <label class="input-group-text">@localizor.Get("ElmahSource")</label>
                <select asp-for="Query.Source" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahSource.ToString()])">
                    <option value="" selected>@string.Format(format_All, localizor.Get("ElmahSource"))</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="input-group">
                <label class="input-group-text">@localizor.Get("ElmahHost")</label>
                <select asp-for="Query.Host" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahHost.ToString()])">
                    <option value="" selected>@string.Format(format_All, localizor.Get("ElmahHost"))</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="input-group">
                <label class="input-group-text">@localizor.Get("ElmahApplication")</label>
                <select asp-for="Query.Application" class="form-control form-select" asp-items="@selectListHelper.GetSelectList(Model?.TopLevelDropDownListsFromDatabase?[TopLevelDropDownLists.ElmahApplication.ToString()])">
                    <option value="" selected>@string.Format(format_All, localizor.Get("ElmahApplication"))</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row pt-1">
        <div class="col-md-6">
            <div class="input-group">
                <label class="input-group-text">@localizor.Get("Message")</label>
                <select asp-for="Query.MessageSearchType" asp-items="ViewBag.TextSearchTypeList" class="input-group-text text-start">
                </select>
                <input asp-for="Query.Message" class="form-control" placeholder="@string.Format(@localizor.Get("Format_SearchTextDescription"), @localizor.Get("Message"))" aria-label="@string.Format(@localizor.Get("Format_SearchTextDescription"), @localizor.Get("Message"))" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <label class="input-group-text">@localizor.Get("AllXml")</label>
                <select asp-for="Query.AllXmlSearchType" asp-items="ViewBag.TextSearchTypeList" class="input-group-text text-start">
                </select>
                <input asp-for="Query.AllXml" class="form-control" placeholder="@string.Format(@localizor.Get("Format_SearchTextDescription"), @localizor.Get("AllXml"))" aria-label="@string.Format(@localizor.Get("Format_SearchTextDescription"), @localizor.Get("AllXml"))" />
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between pt-1">
        <div>
            <span class="h5"><a class="nav-link text-dark" asp-area="" asp-controller="ElmahError" asp-action="Index">you are working on <strong>@localizor.Get("ElmahError")</strong></a></span>
        </div>
        <button class="btn btn-primary me-1 ms-1" role="button" type="submit" title="@localizor.Get("Search")">
            <i class="fa fa-search"></i>
            @localizor.Get("Search")
        </button>
    </div>
</form>
<hr class="mt-1" />
@await Html.PartialAsync("~/Views/ElmahError/_ListViewsContainer.cshtml", Model)
<partial name="~/Views/Shared/_CrudActionDialog.cshtml" />
<partial name="~/Views/Shared/_SimpleActionConfirmationDialog.cshtml" />
@section Scripts
{
    <script>
        const searchFormId = "@Model.UIListSetting.UIListFeatures.SearchFormId";
        const listWrapperId = "@Model.UIListSetting.UIListFeatures.ListWrapperId";
        $(document).ready($(function() {
            showHidePagedViewOptionsRelatedButtons("#" + searchFormId);
            attachFormDataChanged($("#" + listWrapperId + " form"));
            attachMultiItemsDeleteCheckboxEvent($("#" + listWrapperId + " form"));
            attachIndexSearchSubmit("#" + searchFormId);
        }))
    </script>
}
