@using Microsoft.Extensions.Localization;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@inject IStringLocalizer<Elmah.Resx.UIStringResourcePerEntity> localizer_UIStringResourcePerEntity;
@inject IStringLocalizer<Elmah.Resx.UIStringResourcePerApp> localizer_UIStringResourcePerApp;
@inject IStringLocalizer<Framework.Resx.UIStringResource> localizer_UIStringResource;
@model Elmah.AspNetMvcCoreViewModel.ElmahType.IndexVM
@{
}
 <div class="row">
 <div class="col-12 col-sm-4 col-md-3 col-lg-3">
        <form asp-controller="ElmahType" asp-action="Index" id="thisform" method="post">
         <div class="card">
             <div class="card-header">
                    <h3 class="card-title" style="padding-top:7.5px;display:inline;">@localizer_UIStringResource["Common_Filter"]</h3>
                 <div class="float-right">
    <button class="btn btn-secondary" role="button" type="submit" name="SearchToolBarUp" title="@localizer_UIStringResource["Search"]">
        <span class="fa fa-search"></span>
    </button>
                        <input type="hidden" asp-for="QueryPagingSetting.PageSize" id="pageSizeH" />
                        <input type="hidden" asp-for="QueryOrderBySettingCollecionInString" id="orderByH" />
                </div>
            </div>
            <div class="card-body">
 <div class="form-group">
    <label class="control-label">@localizer_UIStringResource["AnyText"]</label>
    <input asp-for="Criteria.Common.StringContains_AllColumns.NullableValueToBeContained" class="form-control" />
</div>
            </div>
            <div class="card-footer">
                <div class="float-right">
    <button class="btn btn-secondary" role="button" type="submit" name="SearchToolBarBottom" title="@localizer_UIStringResource["Search"]">
        <span class="fa fa-search"></span>
    </button>
                </div>
            </div>
        </div>
      </form>
 </div>
 <div class="col-12 col-sm-8 col-md-9 col-lg-9 nopadding">
         <div class="card">
             <div class="card-header">
                 <h3 class="card-title" style="padding-top:7.5px;display:inline;"><a class="nav-link text-dark" asp-area="" asp-controller="ElmahType" asp-action="Index">@localizer_UIStringResourcePerApp["ElmahType"]</a></h3>
                 <div class="float-right row"><div class="btn-group">
    <a asp-area="" asp-controller="ElmahType" asp-action="AddNew" class="btn btn-secondary" role="button" name="AddNewToolBarUp" title="@localizer_UIStringResource["AddNew"]">
        <span class="fa fa-plus"></span>
    </a>
    <a asp-area="" asp-controller="ElmahType" asp-action="Index_Export" asp-route-dataServiceType="Csv" class="btn btn-secondary" role="button" name="ExportToolBarUp" title="@localizer_UIStringResource["Export"]" download>
        <span class="fa fa-download"></span>
    </a>
    <a asp-area="" asp-controller="ElmahType" asp-action="Index_Export" asp-route-dataServiceType="Excel2010" class="btn btn-secondary" role="button" name="ExportToExcelToolBarUp" title="@localizer_UIStringResource["ExportToExcel"]" download>
        <span class="fa fa-download"></span>
    </a>
    <a asp-area="" asp-controller="ElmahType" asp-action="Import" class="btn btn-secondary" role="button" name="ImportToolBarUp" title="@localizer_UIStringResource["Import"]">
        <span class="fa fa-upload"></span>
    </a>
                    <select asp-for="QueryPagingSetting.PageSize" asp-items="Model.UISharedViewModel.SelectListOfPageSize" class="form-control col-3" id="pageSize"></select>
                    <label class="form-inline">Sort by:</label>
                    <select asp-for="QueryOrderBySettingCollecionInString" asp-items="Model.UISharedViewModel.SelectListOfQueryOrderBySettingCollecionInString" class="form-control col-3" id="orderBy"></select>
                </div></div>
            </div>
            <div class="card-body table-responsive">
<table id="MasterDataControl1" name="MasterDataControl1" class="table table-hover table-bordered table-striped">
<thead>
    <tr class="pt-0 pb-0">
<th class="p-0"></th>
<th class="hidden-sm pt-0 pb-0">@localizer_UIStringResourcePerEntity["Type"]</th>
    </tr>
</thead>
<tbody>
    @if (Model != null && Model.StatusOfResult == Framework.Services.BusinessLogicLayerResponseStatus.MessageOK)
    {
        for (var i = 0; i < Model.Result.Count; i ++)
        {
            <tr class="pt-0 pb-0">
<td class="p-0"><div class="btn-group">
    <a asp-area="" asp-controller="ElmahType" asp-action="Dashboard" asp-route-type= "@Model.Result[i].Type" class="btn btn-secondary" role="button" name="FullDetailsToolBarRightInList" title="@localizer_UIStringResource["FullDetails"]">
        <span class="fa fa-briefcase"></span>
    </a>
    <a asp-area="" asp-controller="ElmahType" asp-action="Edit" asp-route-type= "@Model.Result[i].Type" class="btn btn-secondary" role="button" name="EditToolBarRightInList" title="@localizer_UIStringResource["Edit"]">
        <span class="fa fa-edit"></span>
    </a>
</div></td>
<td class="hidden-sm">@Model.Result[i].Type</td>
            </tr>
        }
    }
    else
    {
<tr><td colspan="50" ><div class="text-danger">@Model.StatusMessageOfResult</div>
</td></tr>
    }
</tbody>
</table>
            </div>
            @Model.QueryPagingSetting.GetPagingInformationString()
            <div class="card-footer">
                @if (Model.Result != null)
                {
                    var pagedResult = (IPagedList<Elmah.DataSourceEntities.ElmahType>)ViewBag.StaticPagedResult;
                        <div class="float-right">
                            @Html.PagedListPager((IPagedList<Elmah.DataSourceEntities.ElmahType>)ViewBag.StaticPagedResult, currentPage => Url.Action("Index", new { currentPage = currentPage }))
                        </div>
                }
            </div>
        </div>
 </div>
 </div>
