@using Framework.Models;
@using Elmah.Models.Definitions;
@using Elmah.MvcWebApp.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahStatusCodeModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="hidden-modal-title" value="@Model!.Model!.Name" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Model!.StatusCode" id="@Model.HtmlId(nameof(ElmahStatusCodeModel.StatusCode))" name="@Model.HtmlName(nameof(ElmahStatusCodeModel.StatusCode))"/>
    <div class="form-group">
        <label asp-for="Model!.StatusCode" class="control-label" for="@Model!.HtmlId(nameof(ElmahStatusCodeModel.StatusCode))"></label>
        <input asp-for="Model!.StatusCode" class="form-control"  id="@Model.HtmlId(nameof(ElmahStatusCodeModel.StatusCode))"  name="@Model.HtmlName(nameof(ElmahStatusCodeModel.StatusCode))"/>
        <span asp-validation-for="Model!.StatusCode" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahStatusCodeModel.StatusCode))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.Name" class="control-label" for="@Model!.HtmlId(nameof(ElmahStatusCodeModel.Name))"></label>
        <input asp-for="Model!.Name" class="form-control"  id="@Model.HtmlId(nameof(ElmahStatusCodeModel.Name))"  name="@Model.HtmlName(nameof(ElmahStatusCodeModel.Name))"/>
        <span asp-validation-for="Model!.Name" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ElmahStatusCodeModel.Name))"></span>
    </div>
}
