@using Framework.Models;
@using Elmah.Models;
@using Elmah.Resx;
@model MvcItemViewModel<ElmahStatusCodeModel>
@inject IUIStrings localizor;
@if (Model.ListSetting.ShowListBulkActionRelated(Model.ListFeatures))
{
    <td class="pt-0 pb-0 nt-list-bulk-select">
        <input class="form-check-input ms-1" type="checkbox" value="">
    </td>
}
@if (Model.ListSetting.ShowItemButtons(Model.ListFeatures))
{
    <td class="p-0">
    <div class="btn-group-lg dropdown dropstart btn-group-nt-actions">
        <button class="btn btn-default btn-sm mt-0 mb-0 pt-0 pb-0" data-bs-toggle="dropdown" role="button" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical"></i></button>
        <ul class="dropdown-menu border-0 bg-transparent m-0 p-0">
            <li class="d-inline-block">
                <div class="btn-group" role="group" aria-label="Menu group">
                    <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Dashboard" asp-route-statuscode="@Model!.Model!.StatusCode" class="btn btn-info" role="button" title="@localizor.Get("Dashboard")">
                        <i class="fa-solid fa-folder-tree"></i>
                    </a>
                    <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Details" asp-route-statuscode="@Model!.Model!.StatusCode" class="btn btn-light" role="button" title="@localizor.Get("Details")">
                        <i class="fa fa-briefcase"></i>
                    </a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crudActionDialog" title="@localizor.Get("Details")"
                        data-nt-action="@HttpMethods.Get"
                        data-nt-container="@CrudViewContainers.Dialog.ToString()"
                        data-nt-template="@ViewItemTemplateNames.Details.ToString()">
                        <i class="fa fa-briefcase"></i>
                    </button>
                    <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Edit" asp-route-statuscode="@Model!.Model!.StatusCode" class="btn btn-secondary" role="button" title="@localizor.Get("Edit")">
                        <i class="fa fa-edit"></i>
                    </a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crudActionDialog" title="@localizor.Get("Edit")"
                        data-nt-action="@HttpMethods.Put"
                        data-nt-container="@CrudViewContainers.Dialog.ToString()"
                        data-nt-template="@ViewItemTemplateNames.Edit.ToString()">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-nt-inline-editing" title="@localizor.Get("Edit")"
                        data-nt-action="@HttpMethods.Put"
                        data-nt-container="@CrudViewContainers.Inline.ToString()"
                        data-nt-template="@ViewItemTemplateNames.Edit.ToString()">
                        <i class="fa fa-edit"></i>
                    </button>
                    <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Delete" asp-route-statuscode="@Model!.Model!.StatusCode" class="btn btn-danger" role="button" title="@localizor.Get("Delete")">
                        <i class="fa fa-trash"></i>
                    </a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crudActionDialog" title="@localizor.Get("Delete")"
                        data-nt-action="@HttpMethods.Delete"
                        data-nt-container="@CrudViewContainers.Dialog.ToString()"
                        data-nt-template="@ViewItemTemplateNames.Delete.ToString()">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-nt-inline-editing" title="@localizor.Get("Delete")"
                        data-nt-action="@HttpMethods.Delete"
                        data-nt-container="@CrudViewContainers.Inline.ToString()"
                        data-nt-template="@ViewItemTemplateNames.Delete.ToString()">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
    </td>
}
<td class="pt-0 pb-0">@Model!.Model!.StatusCode</td>
<td class="pt-0 pb-0">@Model!.Model!.Name</td>
@if (Model.ListSetting.ShowItemUIStatus(Model.ListFeatures))
{
    <td class="form-group p-0">
        <input asp-for="Model!.ItemUIStatus______" class="form-control" data-nt-value="@Model!.Model!.ItemUIStatus______" id="@Model!.HtmlId(nameof(ElmahStatusCodeModel.ItemUIStatus______))" name="@Model!.HtmlName(nameof(ElmahStatusCodeModel.ItemUIStatus______))" readonly />
    </td>
}
@if (Model.ListSetting.ShowEditableListDeleteSelect(Model.ListFeatures))
{
    <td class="pb-0 nt-editablelist-delete-select">
        <input asp-for="Model!.IsDeleted______" class="form-check-input nt-form-data ms-1" type="checkbox"  id="@Model!.HtmlId(nameof(ElmahStatusCodeModel.IsDeleted______))" name="@Model!.HtmlName(nameof(ElmahStatusCodeModel.IsDeleted______))">
    </td>
}
