@using Elmah.Models;
@using Elmah.Resx;
@model ElmahStatusCodeModel
@inject IUIStrings localizor;
@{
    ViewData["Title"] = localizor.Get("Edit");
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div class="card">
                <div class="card-header">
                    <h1>@localizor.Get("Edit")</h1>
                    <h4>@localizor.Get("ElmahError")</h4>
                </div>
                @if (ViewBag.Status != System.Net.HttpStatusCode.OK)
                {
                    <div class="card-body">
                        <div class="text-danger">@ViewBag.StatusMessage</div>
                    </div>
                }
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="StatusCode" class="control-label"></label>
                    <input asp-for="StatusCode" class="form-control" />
                    <span asp-validation-for="StatusCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-primary" role="button" type="submit">
                            <i class="fa-solid fa-check-circle"></i>
                            <span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Save")</span>
                        </button>
                        <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Edit" asp-route-statuscode="@Model?.StatusCode" class="btn btn-secondary" role="button" title="@localizor.Get("Refresh")">
                            <i class="fa-solid fa-refresh"></i>
                            <span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Refresh")</span>
                        </a>
                        <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Index" class="btn btn-secondary" role="button" title="@localizor.Get("Back_to_List")">
                            <i class="fa-solid fa-arrow-left"></i>
                            <span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Back_to_List")</span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
