@using Elmah.Models;
@using Elmah.Resx;
@using Framework.Models;
@using Elmah.Models.Definitions;
@using Elmah.MvcWebApp.Models;
@model PagedSearchViewModel<ElmahStatusCodeAdvancedQuery, MvcListSetting, MvcListFeatures, ElmahStatusCodeModel[]>
@inject IHttpContextAccessor Accessor
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    ViewData["Title"] = @localizor.Get("Search") + " " + localizor.Get("ElmahStatusCode");
    var format_All = localizor.Get("Format_All");
    string currentView = string.Empty;
    if (Accessor.HttpContext != null)
    {
        currentView = Accessor.HttpContext.Request.Query["PagedViewOption"];
    }
    if (string.IsNullOrEmpty(currentView))
    {
        currentView = Model!.UISetting.PagedViewOption.ToString();
    }
}
<form id="thisform" method="post" class="nt-ajax-partial-load-post-formdata" data-nt-partial-url="@Url.Action("AjaxLoadItems", "ElmahStatusCode")" data-nt-updatetarget=".nt-list-container-submit">
    <input type="hidden" asp-for="Query.PageIndex" class="nt-page-index" />
    <input type="hidden" asp-for="Query.PageSize" class="nt-page-size" />
    <input type="hidden" asp-for="Query.OrderBys" class="nt-order-by" />
    <input type="hidden" asp-for="Query.PaginationOption" class="nt-pagination-option-field" />
    <input type="hidden" asp-for="UISetting.AdvancedQuery" id="advancedQueryH" class="nt-advanced-query" />
    <input type="hidden" asp-for="UISetting.PagedViewOption" class="nt-paged-view-option-field" value="@currentView" />
    <input type="hidden" asp-for="UISetting.Template" class="nt-template-field" />
    <div class="d-flex justify-content-between pt-1">
        <div>
            <span class="h5"><a class="nav-link text-dark" asp-area="" asp-controller="ElmahStatusCode" asp-action="Index">you are working on <strong>@localizor.Get("ElmahStatusCode")</strong></a></span>
        </div>
        <button class="btn btn-primary me-1 ms-1" role="button" type="submit" title="@localizor.Get("Search")">
            <i class="fa fa-search"></i>
            @localizor.Get("Search")
        </button>
    </div>
    <hr class="mt-1" />
    <div class="input-group">
        <select asp-for="Query.TextSearchType" asp-items="ViewBag.TextSearchTypeList" class="input-group-text text-start">
        </select>
        <input asp-for="Query.TextSearch" class="form-control" placeholder="@localizor.Get("SearchTextDescription")" aria-label="@localizor.Get("SearchTextDescription")" />
    </div>
    <div class="row pt-1">
        <div class="col-md-6">
            <div class="input-group">
                <label class="input-group-text">@localizor.Get("Name")</label>
                <select asp-for="Query.NameSearchType" asp-items="ViewBag.TextSearchTypeList" class="input-group-text text-start">
                </select>
                <input asp-for="Query.Name" class="form-control" placeholder="@string.Format(@localizor.Get("Format_SearchTextDescription"), @localizor.Get("Name"))" aria-label="@string.Format(@localizor.Get("Format_SearchTextDescription"), @localizor.Get("Name"))" />
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between pt-1">
        <div>
            <span class="h5"><a class="nav-link text-dark" asp-area="" asp-controller="ElmahStatusCode" asp-action="Index">you are working on <strong>@localizor.Get("ElmahStatusCode")</strong></a></span>
        </div>
        <button class="btn btn-primary me-1 ms-1" role="button" type="submit" title="@localizor.Get("Search")">
            <i class="fa fa-search"></i>
            @localizor.Get("Search")
        </button>
    </div>
</form>
<hr class="mt-1" />
<div class="card nt-list-wrapper"
    id="thisList"
    data-nt-bs-modalsize="Large"
    data-nt-submittarget="#thisform"
    data-nt-loaditem-url="@Url.Action("AjaxLoadItem", "ElmahStatusCode")"
    data-nt-createitem-url="@Url.Action("AjaxCreate", "ElmahStatusCode")"
    data-nt-updateitem-url="@Url.Action("AjaxEdit", "ElmahStatusCode")"
    data-nt-deleteitem-url="@Url.Action("AjaxDelete", "ElmahStatusCode")"
    data-nt-bulk-delete-url="@Url.Action("AjaxBulkDelete", "ElmahStatusCode")"
    data-nt-multiitems-submit-url="@Url.Action("AjaxMultiItemsCUDSubmit", "ElmahStatusCode")">
    <div class="card-header">
        <div class="btn-group float-end mt-1" role="group" aria-label="View Options">
            <input type="radio" class="btn-check nt-radio-pagedviewoption" name="btnradio" id="btnradio-List" autocomplete="off"
                data-bs-toggle="modal" data-bs-target="#fullScreenLoading"
                data-nt-value="List" data-nt-paginationoptionupdatevalue="Paged" @(Model!.UISetting.PagedViewOption==PagedViewOptions.List ? "checked": "")>
            <label class="btn btn-outline-primary" for="btnradio-List" title="List" aria-label="List"><i class="fa-solid fa-table-cells"></i></label>
            <input type="radio" class="btn-check nt-radio-pagedviewoption" name="btnradio" id="btnradio-Tiles" autocomplete="off"
                data-bs-toggle="modal" data-bs-target="#fullScreenLoading"
                data-nt-value="Tiles" data-nt-paginationoptionupdatevalue="LoadMore" @(Model!.UISetting.PagedViewOption==PagedViewOptions.Tiles ? "checked": "")>
            <label class="btn btn-outline-primary" for="btnradio-Tiles" title="Tiles" aria-label="Tiles"><i class="fa-solid fa-grip"></i></label>
            <input type="radio" class="btn-check nt-radio-pagedviewoption" name="btnradio" id="btnradio-SlideShow" autocomplete="off"
                data-bs-toggle="modal" data-bs-target="#fullScreenLoading"
                data-nt-value="SlideShow" data-nt-paginationoptionupdatevalue="NoPagination" @(Model!.UISetting.PagedViewOption==PagedViewOptions.SlideShow ? "checked": "")>
            <label class="btn btn-outline-primary" for="btnradio-SlideShow" title="SlideShow" aria-label="SlideShow"><i class="fa-solid fa-circle-play"></i></label>
            <input type="radio" class="btn-check nt-radio-pagedviewoption" name="btnradio" id="btnradio-EditableList" autocomplete="off"
                data-bs-toggle="modal" data-bs-target="#fullScreenLoading"
                data-nt-value="EditableList" data-nt-paginationoptionupdatevalue="Paged" @(Model!.UISetting.PagedViewOption == PagedViewOptions.EditableList ? "checked": "")>
            <label class="btn btn-outline-primary" for="btnradio-EditableList" title="EditableList" aria-label="EditableList"><i class="fa-solid fa-table"></i></label>
        </div>
        <div class="btn-group float-end mt-1 ms-3 me-3">
            <select asp-for="Query.PageSize" asp-items="ViewBag.PageSizeList" role="button" class="form-control form-select nt-page-size-submit"></select>
            <select asp-for="Query.OrderBys" asp-items="ViewBag.OrderByList" role="button" class="form-control form-select nt-order-by-submit"></select>
        </div>
        @if (Model!.UISetting.HasListBulkActionRelated(Model.UIFeatures))
        {
            <div class="btn-group m-0 p-0 float-start nt-bulk-select-filter">
                <button type="button" class="btn btn-default m-0 p-0 btn-nt-bulk-select-status" data-nt-bulk-select-status="None">
                    <!--None/Some/All-->
                    <i class="fa-regular fa-square"></i>
                    <i class="fa-regular fa-square-minus d-none"></i>
                    <i class="fa-regular fa-square-check d-none"></i>
                </button>
                <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                </ul>
            </div>
        }
        @if (Model!.UISetting.HasListBulkActionRelated(Model.UIFeatures))
        {
            <div class="btn-group float-start ps-4 nt-bulk-actions-container" style="display:none">
                <button type="button" class="btn btn-default nt-bulk-delete" data-bs-toggle="modal" data-bs-target="#simpleActionConfirmationDialog"
                    data-nt-confirmation-message="@string.Format(localizor.Get("Please_confirm_you_want_to_delete_selected"), localizor.Get("ElmahStatusCode"))" title="@localizor.Get("Delete")">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        }
        @if (Model!.UISetting.HasEditableList(Model!.UIFeatures))
        {
            <div class="btn-group float-start ps-4 nt-multiitem-editing-buttons" style="display:none;">
                <button disabled type="button" class="btn btn-default btn-nt-multiitems-editing-submit" data-bs-toggle="modal" data-bs-target="#simpleActionConfirmationDialog"
                    data-nt-confirmation-message="@string.Format(localizor.Get("Please_confirm_you_want_to_update_these_Data"), localizor.Get("ElmahStatusCode"))" title="@localizor.Get("Save")">
                    <i class="fa-solid fa-floppy-disk"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Save")</span>
                </button>
                <button type="button" class="btn btn-default btn-nt-multiitems-editing-cancel" data-bs-toggle="modal" data-bs-target="#simpleActionConfirmationDialog"
                    data-nt-confirmation-message="@string.Format(localizor.Get("Please_confirm_you_want_to_update_these_Data"), localizor.Get("ElmahStatusCode"))" title="@localizor.Get("Save")">
                    <i class="fa-solid fa-circle-xmark"></i><span class="submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline ms-1">@localizor.Get("Cancel")</span>
                </button>
            </div>
        }
    </div>
    <div class="card-body nt-list-container-submit row m-0 p-0">
        @if (currentView.ToLower() == PagedViewOptions.Tiles.ToString().ToLower())
        {
            @await Html.PartialAsync("~/Views/ElmahStatusCode/_Tiles.cshtml", Model)
        }
        else if (currentView.ToLower() == PagedViewOptions.SlideShow.ToString().ToLower())
        {
            @await Html.PartialAsync("~/Views/ElmahStatusCode/_SlideShow.cshtml", Model)
        }
        else
        {
            @await Html.PartialAsync("~/Views/ElmahStatusCode/_List.cshtml", Model)
        }
    </div>
    <div class="fixed-bottom">
        <div class="float-start ms-5 ps-5 border-2 nt-singlton-message-popup bg-info" style="display:none">
        </div>
        <div class="btn-group float-end m-4">
            <a asp-area="" asp-controller="ElmahStatusCode" asp-action="Create" class="btn btn-secondary" role="button" title="@localizor.Get("Create")">
                <i class="fa fa-plus"></i>
            </a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crudActionDialog" title="@localizor.Get("Create_New")"
                data-nt-action="@HttpMethods.Post"
                data-nt-route-id="@(default(int))"
                data-nt-container="@CrudViewContainers.Dialog.ToString()"
                data-nt-template="@ViewItemTemplateNames.Create.ToString()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>
<partial name="~/Views/Shared/_CrudActionDialog.cshtml" />
<partial name="~/Views/Shared/_SimpleActionConfirmationDialog.cshtml" />
@section Scripts
    {
    <script>
        $(document).ready($(function() {
            showHidePagedViewOptionsRelatedButtons("#thisform");
            attachFormDataChanged($("#thisList form"));
            attachMultiItemsDeleteCheckboxEvent($("#thisList form"));
        }))
    </script>
}
